
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">三證類型主檔列表</h3>

            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>名稱</th>
      <th>內容</th>
      <th>
        <% if judgment_access 'verify_type_mains/new' %>
          <%= link_to '新增主檔類型', new_verify_type_main_path %>
        <% end %>

      </th>
    </tr>
  </thead>

  <tbody>
    <% @verify_type_mains.each do |verify_type_main| %>

    <%= render 'comm/info' , :info => verify_type_main , :users => @users_a , :title => "使用者:#{verify_type_main.title} 訊息"  %>

      <tr>
        <td>
          <%= state_n_show verify_type_main,verify_type_main.title  %>
        </td>
        <td>
          <%= state_n_show verify_type_main,verify_type_main.content  %>
        </td>
        <td>
          <% if verify_type_main.state == 'Y'  %>
              <% if judgment_access 'verify_type_mains/edit' %>
                <%= link_to '編輯', edit_verify_type_main_path(verify_type_main), :class => 'btn btn-info btn-sm'  %>
              <% end %>

              <% if judgment_access 'verify_type_mains/del' %>
                <a url="#" class="del btn btn-danger btn-sm" id='/verify_type_mains/destroy/<%=verify_type_main.id %>'> 停用 </a>
              <% end %>
          <% else %>
              <button class="btn btn-danger disabled">己停用</button>
          <% end %>

              <a class="btn btn-warning info btn-sm" id="<%=verify_type_main.id %>">
                  訊息
              </a>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @verify_type_mains  %>
</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){

    $('.del').click(function(){

        var url = $(this).attr('id');
        var n =confirm('確定停用！？');
        if(n){
          document.location.href=url;
        }

    });

    $('.info').click(function(){
        var t_id = $(this).attr('id');
        $('#info-modal'+t_id).modal('show');
    });

})
</script>

</div>
</div>
</div>
</section><!-- /.content -->
