<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @verify_type_main.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @verify_type_main.content %>
</p>

<%= link_to 'Edit', edit_verify_type_main_path(@verify_type_main) %> |
<%= link_to 'Back', verify_type_mains_path %>
