

<table class="table">
  <thead>
    <tr>
      <th>
        顧客
        <%= sortable "code" ,'code' %>
      </th>
      <th>
        <%= sortable "product_id" ,'產品' %>
      </th>
      <th>
        <%= sortable "num" ,'數量' %>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @order_by_products.each do |order_by_product| %>
      <tr>
          <td>
            <% pos = get_product_order order_by_product.code %>
            <% if !pos.nil? %>
                <%=pos%>
            <% end %>
            /
            <%=order_by_product.code %>
          </td>

          <td><%= order_by_product.product.title%></td>
          <td><%= order_by_product.num %></td>
          <td>
              <%= link_to 'Show', order_by_product %>
              <%= link_to 'Edit', edit_order_by_product_path(order_by_product) %>
              <%= link_to 'Destroy', order_by_product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order by product', new_order_by_product_path %>
