
<div class="modal fade" id="info-modal<%=product.id%>" tabindex="-1" role="dialog" aria-hidden="true" >
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> <font color="red">出庫列表</font></h4>
                <%#=simple_format(obj.title) %>
            </div>

            <div class="modal-body" style="padding:10px 0px 40px 0px;margin:20px 0px 10px 0px;">
                <%#=simple_format(obj.content) %>

                <h4 style="color:blue;" ><%=product.title %></h4>

                <hr>
                <%
                  product.product_in_outs.each do |love|
                    if love.in_or_out == 'reduce'
                  %>
                      <div class="main_col">
                          <span class="col" id="col_code"   >單號:<%=love.code %></span>
                          <span class="col" id="col_serial">批號:<%=love.serial %></span>
                          <span class="col" id="col_num">數量:<font color="red"><%=love.num %></font></span>
                          <span class="col" id="col_store_area">庫位:<%=love.store_area_id %></span>
                          <span class="col" id="col_save_date">有限期限:<%=love.save_date%></span>
                      </div>

                <%    end
                  end
                %>



            </div>

            <div class="modal-footer clearfix">
                <button type="submit" class="btn btn-primary" data-dismiss="modal"> 確定</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
