<%= form_for(@product_order) do |f| %>
  <% if @product_order.errors.any? %>
    <div id="error_explanation" style="display:none;">
      <% @product_order.errors.full_messages.each do |msg| %>
            <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
      <% end %>

    </div>
  <% end %>

<% @msg_suc = '訂購成功' %>
<%= render 'comm/ckbox' , :mss => @mss%>
<%= render 'comm/order_success' , :message => @msg_suc%>
<%
#先算出長度
len_s = order_serial_code @code_serial.count.to_s.length
len_s = "#{len_s}#{@code_serial.count.to_i+1}"
%>


<div class="form-group">
  <font color="red" >

    <%= f.label :code , '訂單編號' %></font>

    <h4 style="color:blue;">
      <% if !@product_order.id.nil? %>
          <%= @product_order.code%>
          <%=f.hidden_field :code , :id=>'code' %>
      <% else %>
          <%= hide_code = "#{get_random_date}#{len_s}"%>
          <%=f.hidden_field :code ,:value => hide_code , :id=>'code' %>
      <% end %>
    </h4>





    <span id="products_list"></span>
    <a class="btn btn-success" href="#" id="add_products" >新增產品</a>


<input type="hidden" id="old_id" value="<%=@product_order.id%>">


    <table class="table table-bordered" id="products_select">

      <thead>
        </tr>
            <th>產品名稱</th>
            <th>訂購數量</th>
        <tr>
      </thead>
        <tbody id="tbody">

        <%
        if !@product_order.id.nil?
              @orderInfos.each do |info|
        %>

        <input type="hidden" id="has_product_ids" value="<%=info.product_id%>">

          <tr>
            <th><%=@pro_infos[info.product_id]%></th>
            <td>
              <input  class="update"
                      name="<%=info.id %>"
                      value="<%=info.num %>" >
            </td>
          <tr>
        <%
              end
        end
        %>
      </tbody>
    </table>



    <%= f.hidden_field :order_state_id ,:value=>'1'%>

  </div>


  <div class="form-group">
    <font color="red" >
    <%= f.label :member_id, '訂購者' %></font>
    <%= f.select(:member_id , @members.collect{ |mem| [mem.name , mem.id  ] } , { :selected =>@product_order.member_id  },:id=>'member_id'  )%>

  </div>

  <div class="box-footer">
      <button type="button" class="btn btn-primary" id="finial">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>
<% end %>


<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  //判斷是否 存在
  var old_id = $('#old_id').val();


  if(old_id.length < 1 ){
    //這是新增的時候

  $('#finial').click(function(){
      //產品＆數量
      var  p_str = '';
      $('input').each(function(){
          if( $(this).attr('class')=='pids' ){
            p_str += $(this).attr('name') +',' + $(this).val() +'/';
          }
      });




      var mem_id  =  $("#member_id").val();
      if(mem_id=='' || mem_id==null){
          alert("請輸入訂購者");
      }else{
          $.post( '/post_order_data',
                { 'member_id' : $("#member_id").val() ,
                  'code' : $("#code").val() ,
                  'p_str':p_str},
                function(d){

                  if(d=='true'){

                    $('#order-success-modal').modal('show');

                    $("#a_submit").click(function(){
                      $('#order-success-modal').modal("hide")
                      var url ='/product_orders';
                      document.location.href=url;
                    });

                  }else{

                    alert('false love');

                  }

                });

        }


  });

  }else{
    //update
    $('#finial').click(function(){
        //產品＆數量
        var  new_str = '';
        var  update_str = '';

        $('input').each(function(){

            if( $(this).attr('class')=='pids' ){
              new_str += $(this).attr('name') +',' + $(this).val() +'/';
            }

            if( $(this).attr('class')=='update' ){
              update_str += $(this).attr('name') +',' + $(this).val() +'/';
            }

        });

        $.post( '/update_order_data',
              { 'member_id' : $("#member_id").val() ,
                'code' : $("#code").val() ,
                'new':new_str,
                'update':update_str
              },
              function(d){
                // alert(d);

                if(d=='true'){

                  $('#order-success-modal').modal('show');

                  $("#a_submit").click(function(){

                    $('#order-success-modal').modal("hide")
                    var url ='/product_orders';
                    document.location.href=url;
                  });

                }else{

                  alert('false love');

                }

              });
      });

  }





    if(old_id.length < 1 ){
      //這是新增的時候
      $.post('/get_all_products',function(data){

            $('#products_list').html(data);

            $("#add_products").click(function(){
                var product_id = $(".product_data").val() ;

                $(".product_data").find(":selected").remove();

                // /products/1.json
                $.get('/products/'+product_id+'.json',function(data){

                  var product_info = '<tr><th>'+data["title"];
                  product_info += '</th><td>'
                  product_info += '<input name=p_'+data["id"]+' class="pids"> ';
                  product_info += '</td></tr>';
                  $(product_info).appendTo('#tbody');

                });
            });
        });


    }else{



      var pid_str = '';

      $('input').each(function(){

        if($(this).attr('id') == "has_product_ids"){
          pid_str += $(this).val() + '/';
        }

      });

      $.post('/get_select_products',{'pids':pid_str},function(data){

          $('#products_list').html(data);

          $("#add_products").click(function(){
              var product_id = $(".product_data").val() ;

              $(".product_data").find(":selected").remove();

              // /products/1.json
              $.get('/products/'+product_id+'.json',function(data){

                var product_info = '<tr><th>'+data["title"];
                product_info += '</th><td>'
                product_info += '<input name=p_'+data["id"]+' class="pids"> ';
                product_info += '</td></tr>';
                $(product_info).appendTo('#tbody');

              });
          });
      });

      // alert(pid_str);

    }

    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      $('#ckbox-modal').modal('show');
    }

});
</script>
