<%= form_for(@product_order) do |f| %>

  <% @msg_suc = '訂購成功' %>
  <%= render 'comm/ckbox' , :mss => @mss %>
  <%= render 'comm/order_success' , :message => @msg_suc %>
  <%
    #先算出長度
    len_s = order_serial_code @code_serial.count.to_s.length
    len_s = "#{len_s}#{@code_serial.count.to_i+1}"
  %>


<div class="form-group">


        <div class="col-xs-6">
            <div class="col-xs-12">
                <h4 style="color:blue;">
                <%= f.label :code , '訂單編號' %>
                </h4>
                <h4 >
                  <% if !@product_order.id.nil? %>

                      <%= @product_order.code%>
                      <%=f.hidden_field :code , :id=>'code' %>

                  <% else %>

                      <%= hide_code = "#{get_random_date}#{len_s}"%>
                      <%=f.hidden_field :code ,:value => hide_code , :id=>'code'  %>

                  <% end %>
                </h4>
            </div>

            <div class="col-xs-12">
                <h4>
                <font color="red" ><%= f.label :code , '訂單日期' %></font>
                </h4>
                <h4 style="color:blue;">
                    <% if !@product_order.order_day.nil? %>
                        <input name="order_day" id="order_day" value="<%= @product_order.order_day %>" class="form-control" >
                    <% else %>
                        <input name="order_day" id="order_day" value="<%=Time.now.strftime("%Y-%m-%d")%>" class="form-control" >
                    <% end %>
                </h4>
            </div>

            <div class="col-xs-12">
                <h4><font color="red" >付款方式</font></h4>
                <h4 style="color:blue;">
                  <%= f.select(:pay_type_id , @pay_types.collect{ |pay| [pay.content , pay.id  ] } , { :selected =>@product_order.pay_type_id  } , :id=>'pay_type_id' ,:class=>'form-control'  )%>
                  <!-- <input name="pay_type_id" id="pay_type_id" value="<%=Time.now.strftime("%Y-%m-%d")%>" > -->
                </h4>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="col-xs-12">
                <h4>
                  <font color="red" >
                        <% @product_order.member_id %>
                        <%= f.label :member_id, '客戶' %>
                  </font>
                </h4>
                  <%= f.select(:member_id , @members.collect{ |mem| [mem.name , mem.id  ] } , { :selected =>@product_order.member_id  },:id=>'member_id' ,:class=>'form-control'  )%>
            </div>



            <div class="col-xs-12">
                <h4 >
                  <font color="red" >預定日期</font>
                </h4>
                <h4 style="color:blue;">
                    <% if !@product_order.future_day.nil? %>
                        <input name="future_day" id="future_day" value="<%= @product_order.future_day %>" class='form-control' >
                    <% else %>
                        <input name="future_day" id="future_day" value="<%=Time.now.strftime("%Y-%m-%d")%>" class='form-control' >
                    <% end %>

                </h4>
            </div>

            <div class="col-xs-12">
                <h4 style="color:blue;"><%= f.label :member_id, '總金額' %></h4>
                <input type="hidden" id="all_total" value="" >
                <h4><span id="show_all_total"><%=@product_order.total%></span></h4>
            </div>

        </div>

    <!--hr-->
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <!--hr-->

    <h4>
        <span  id="products_list"></span>
        <a class="btn btn-success" href="#" id="add_products" >新增產品</a>
    </h4>


<input type="hidden" id="old_id" value="<%=@product_order.id%>">
<table class="table table-bordered" id="products_select">



  <thead>
    </tr>
        <th>項次</th>
        <th>產品料號</th>
        <th>產品名稱</th>
        <th>訂購數量</th>
        <th>單價</th>
        <th>合計</th>
    <tr>
  </thead>



      <tbody id="tbody">

        <%
        ci = 0

        if !@product_order.id.nil?
              @orderInfos.each do |info|
                rand_str = get_random_str(6)
        %>

        <input type="hidden" id="has_product_ids" value="<%=info.product_id%>">

          <tr id="tr_<%=@pro_infos[info.id]%>">
              <th> <%=ci+=1 %> </th>
              <th>
                  <input name="product_code_<%=rand_str%>" id="product_code_<%=rand_str%>"  value="<%=info.product.code%>"     alt="<%=rand_str%>" disabled="disabled" >
                  <input type="hidden" name="product_id_<%=rand_str%>" id="product_id_<%=rand_str%>" value="<%=info.product.id%>">
              </th>
              <th><input name="product_name_<%=rand_str%>" id="product_name_<%=rand_str%>"   value="<%=info.product.title%>"    alt="<%=rand_str%>" disabled="disabled" >  </th>

              <td><input name="num_<%=rand_str %>"     id="num_<%=rand_str%>"    class="num_<%=rand_str%>"    alt="<%=rand_str%>"  value="<%=info.num %>"     onBlur="calTotal('<%=rand_str %>')"  ></td>
              <td><input name="price_<%=rand_str %>"   id="price_<%=rand_str%>"  class="price_<%=rand_str%>"  alt="<%=rand_str%>"  value="<%=info.price %>"   onBlur="calTotal('<%=rand_str %>')"  ></td>
              <td><span  class="total_<%=rand_str %>"  id="total_<%=rand_str%>" ><%=info.total%></span> </td>
          </tr>

        <%
              end
        end
        %>
      </tbody>

      <tfoot>
        </tr>
            <th>項次</th>
            <th>產品料號</th>
            <th>產品名稱</th>
            <th>訂購數量</th>
            <th>單價</th>
            <th>合計</th>
        <tr>
      </tfoot>
    </table>



    <%= f.hidden_field :order_state_id ,:value=>'1'%>

  </div>




  <div class="box-footer">
      <button type="button" class="btn btn-primary" id="finial">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>
<% end %>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<!--

  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

-->

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {


  $("#future_day").datepicker({format: 'yyyy-mm-dd'});
  $("#order_day").datepicker({format:  'yyyy-mm-dd'});
  var _flag = true;
  //判斷是否 存在
  var old_id = $('#old_id').val();

  if( undefined != old_id && old_id.length < 1 ){
  //這是新增的時候
  //new
  $('#finial').click(function(){



      _flag = checkAllInput();
      //產品＆數量
      // alert(_flag);
      var  num_str            =  '';
      var  price_str          =  '';
      var  total_str          =  '';
      var  all_str            =  '';
      var  show_all_total     =  0;

      $('input[name^="product_code_"]').each(function(){

            var ThisId    =  $(this).attr('alt');
            var ThisProductId   =  $('#product_id_'+ThisId  ).val() ;
            var ThisNum   =  $('#num_'+ThisId  ).val() ;
            var ThisPrice =  $('#price_'+ThisId ).val() ;
            var ThisTotal =  $('#total_'+ThisId ).text() ;
            var code_disb = $(this).attr('disabled');

            var name_disb = $('#product_name_'+ThisId).attr('disabled');
            if( code_disb == 'disabled' && name_disb == 'disabled' && isInteger(ThisNum) && isInteger(ThisPrice)  ){
                all_str += ThisProductId + '/' +ThisNum+ '/' +ThisPrice+ '/' +ThisTotal +',';
                show_all_total = parseInt(ThisTotal) + parseInt(show_all_total) ;
            }

            // all_str += ThisProductId + '/' + ThisNum + '/' +ThisPrice+ '/' +ThisTotal +',';
            // show_all_total = parseInt(ThisTotal) + parseInt(show_all_total) ;

            // if( $(this).val()=='' ){
            //     _flag=false;
            // }

      });


      var mem_id  =  $("#member_id").val();

      //總金額
      $("#all_total").val( show_all_total );
      //訂單日期
      $("#future_day").val();



      var date_and_totalPrice = $("#future_day").val() + '/' +
                                $("#all_total").val() + '/' +
                                $("#pay_type_id").val() + '/' +
                                $("#order_day").val()  ;
      var product_code_count = 0;

      $('input[name^="product_code_"]').each(function(){
            product_code_count += 1;
      });

      // alert(date_and_totalPrice);



      if( mem_id == '' || mem_id == null || ( _flag == false )|| ( product_code_count == 0 ) ){
          // alert( mem_id +' / ' + mem_id+'  + '+_flag);
          alert('訂購失敗!~');
      }else{

          //just alert!!

          // alert('all sttr  /'+all_str+
          //       'date_and_totalPrice  -' + date_and_totalPrice +
          //       'member  -' + $("#member_id").val() +
          //       'code  -' + $("#code").val()  );



          $.post( '/post_order_data',
                { 'member_id' : $("#member_id").val() ,
                  'code'      : $("#code").val() ,
                  'all_str'   : all_str ,
                  'date_and_totalPrice' : date_and_totalPrice
                  },
                function(d){

                  if( d ){
                      $('#order-success-modal').modal('show');
                      $("#a_submit").click(function(){
                          //訂講成功
                          $('#order-success-modal').modal("hide");
                          var url ='/product_orders';
                          document.location.href=url;
                      });
                  }else{
                      alert('訂購失敗!!!!');
                  }

                });

        }


  });

  }else{








    //update
    $('#finial').click(function(){
        //產品＆數量
        var _flag = true;
        _flag = checkAllInput();

        // alert(_flag);
        var  num_str          = '';
        var  price_str        = '';
        var  total_str        = '';
        var  all_str          = '';
        var  show_all_total   = 0;
        //update
        $('input[name^="product_code_"]').each(function(){

              // num_str += $(this).attr('name') +',' + $(this).val() +'/';
              //產品ID
              var ThisId    =  $(this).attr('alt');
              var ThisProductId   =  $('#product_id_'+ThisId  ).val() ;
              var ThisNum   =  $('#num_'+ThisId  ).val() ;
              var ThisPrice =  $('#price_'+ThisId ).val() ;
              var ThisTotal =  $('#total_'+ThisId ).text() ;


              var code_disb = $(this).attr('disabled');
              var name_disb = $('#product_name_'+ThisId).attr('disabled');
              if( code_disb == 'disabled' && name_disb == 'disabled' && isInteger(ThisNum) && isInteger(ThisPrice)  ){
              // if( code_disb == 'disabled' && name_disb == 'disabled'  ){

                  all_str += ThisProductId + '/' +ThisNum+ '/' +ThisPrice+ '/' +ThisTotal +',';
                  show_all_total = parseInt(ThisTotal) + parseInt(show_all_total) ;
              }

              // if( $(this).val()=='' ){
              //     _flag=false;
              // }

        });





        var mem_id  =  $("#member_id").val();

        // 總金額
        $("#all_total").val( show_all_total );
        // 訂單日期
        $("#future_day").val();

        // pay_type_id
        // order_day

        var date_and_totalPrice = $("#future_day").val() + '/' +
                                  $("#all_total").val() + '/' +
                                  $("#pay_type_id").val() + '/' +
                                  $("#order_day").val()  ;
        // alert(date_and_totalPrice);



        if( mem_id == '' || mem_id==null || (_flag==false ) ){

            alert('訂購失敗!');

        }else{

          // $.post( '/update_order_data',

          // alert(
          //       '\n'+'member_id   ' + $("#member_id").val() +'\n'+
          //       '\n'+'code   '      + $("#code").val() +'\n'+
          //       '\n'+'all_str   '             +   all_str  +'\n'+
          //       '\n'+'date_and_totalPrice  ' +   date_and_totalPrice
          //       );

            $.post( '/update_order_data',
                  { 'member_id' : $("#member_id").val() ,
                    'code'      : $("#code").val() ,
                    'all_str'   : all_str,
                    'date_and_totalPrice':date_and_totalPrice
                    },
                  function(d){

                    if( d == 'true' ){

                        $('#order-success-modal').modal('show');

                        $("#a_submit").click(function(){
                            //訂講成功
                            $('#order-success-modal').modal("hide");
                            var url ='/product_orders';
                            document.location.href=url;

                        });

                    }else{
                        alert('訂購失敗!');
                    }

                  });

          }



      });

  }

    if( undefined != old_id && old_id.length <1 ){

      //這是新增的時候
      $.post('/get_all_products',function(data){
            //一開始的時候做的產品列表


            var ci = 1;
            var ci_str = 'qwe';
            //新增產品的！！！！！！！！！
            $("#add_products").click(function(){

                  $.post('/get_random_str',function(data){
                        ci_str = data.toString();


                        var product_info2 =  '<tr>';
                            product_info2 += '<th>'+ci+'</th>';
                            product_info2 += '<td>'+'<input name="product_code_'+ci_str.toString()+'" id="product_code_'+ci_str.toString()+'" alt="'+ci_str.toString()+'" >';
                            product_info2 += '<input type="hidden" name="product_id_'+ci_str.toString()+'" id="product_id_'+ci_str.toString()+'" value="'+ci_str.toString()+'">';
                            product_info2 += '</td>';
                            product_info2 += '<td>'+'<input name="product_name_'+ci_str.toString()+'" id="product_name_'+ci_str.toString()+'" alt="'+ci_str.toString()+'" ></td>';
                            product_info2 += '<td>'+'<input name="num_'+ci_str.toString()+'"     id="num_'+ci_str.toString()+'"       alt="'+ci_str.toString()+'"  onBlur="calTotal('+"'"+ci_str.toString()+"'"+')"   ></td>';
                            product_info2 += '<td>'+'<input name="price_'+ci_str.toString()+'"   id="price_'+ci_str.toString()+'"     alt="'+ci_str.toString()+'"  onBlur="calTotal('+"'"+ci_str.toString()+"'"+')"   ></td>';
                            product_info2 += '<td>'+'<span  class="total_'+ ci_str.toString()+'" id="total_'+ci_str.toString()+'"     alt="'+ci_str.toString()+'"  ></span>'+'</td>';
                            product_info2 += '</tr>';

                          $(product_info2).appendTo('#tbody');

                          $('#product_code_'+ci_str.toString()).blur(function(){
                              var code_disb = $(this).attr('disabled');

                              if( code_disb == undefined ){
                                    alert('沒有這個料號');
                              }
                          })

                          $('#product_name_'+ci_str.toString()).blur(function(){
                              var name_disb = $(this).attr('disabled');
                              if( name_disb == undefined ){
                                    alert('沒有這個產品');
                              }
                          })


              var str_all_code_val  = '';
              var str_all_name_val  = '';

              //get code
              $('input[name^="product_code_"]').each(function(){
                  str_all_code_val += $(this).val() +',';
              });

              //get code
              $('input[name^="product_name_"]').each(function(){
                  str_all_name_val += $(this).val() +',';
              });



                  //自動完成
              $( "#product_code_" +ci_str.toString()).autocomplete({
                      source: function( request, response ) {
                        $.post('/product_list_code.json',
                              {
                                'code' : request.term ,
                                'type' : 'code',
                                'old_data' : str_all_code_val
                              },
                              function(data){

                                // alert(str_all_name_val);


                                response( $.map( data, function( item ) {
        	                             return {
                                          id: item.id ,
                      								    label: item.code ,
                                          value: item.code ,
                                          title: item.title ,
        	                             }
	                              }));
                        });
                      },
                      //最小的長度
                      minLength: 1,

                      select: function( event, ui ) {

                         var terms = new Array();
                  			//  if(this.title!="")
                  			//    terms = this.title.split("/ ");
                  			 terms.pop();
                  			 terms.push( ui.item.value );
                  			 terms.push("" );
                  			 this.value = terms.join( "" );

                         var _alt = $(this).attr('alt');
                         $("#product_id_"   + _alt ).val(ui.item.id);
                         $("#product_name_"+_alt).val(ui.item.title).attr('disabled',true);
                         $(this).attr('disabled',true);
                         calTotal(ci_str.toString() );
                  			 return false;
                      }
                    });




                    $( "#product_name_" +ci_str.toString()).autocomplete({
                        source: function( request, response ) {

                          $.post('/product_list_code.json',
                                {
                                  'title':request.term ,
                                  'type':'title',
                                  'old_data' : str_all_name_val
                                },
                                function(data){
                                  //alert(request.term);
                                  response( $.map( data, function( item ) {
          	                             return {
                                            id: item.id ,
                        								    label: item.title ,
                                            value: item.title ,
                                            title: item.title ,
                                            code: item.code
          	                             }
  	                              }));
                          });
                        },
                        //最小的長度
                        minLength: 1,

                        select: function( event, ui ) {

                           var terms = new Array();
                    			//  if(this.title!="")
                    			//    terms = this.title.split("/ ");
                    			 terms.pop();
                    			 terms.push( ui.item.value);
                    			 terms.push("" );
                    			 this.value = terms.join( "" );

                           var _alt = $(this).attr('alt');
                           $("#product_id_"   + _alt ).val(ui.item.id);
                           $("#product_code_"+_alt).val(ui.item.code).attr('disabled',true);
                           $(this).attr('disabled',true);
                           calTotal(ci_str.toString() );
                    			 return false;
                        }
                      });
                  ci=ci+1;

                  });
                  //new

            });
        });


    }else{



      var pid_str = '';

      $('input').each(function(){

        if($(this).attr('id') == "has_product_ids"){
          pid_str += $(this).val() + '/';
        }

      });

      var ci =1;
      // var ci_rand =1;

      $('input[name^="product_name_"]').each(function(){
          ci +=1;
          // ci_rand +=1;
      });

      // this gg start

          // update
          $("#add_products").click(function(){
                /*
                  var num_val       =   $("#num_"+alt).val();
                  var price_val     =   $("#price_"+alt).val();
                  var _this_total   =   $("#total_"+alt).val();
                */
                $.post('/get_random_str',function(data){

                ci_str = data.toString();
                //update tr
                var product_info2 =  '<tr>';
                    product_info2 += '<th>'+ci+'</th>';
                    product_info2 += '<td>'+'<input name="product_code_'+ci_str+'" id="product_code_'+ci_str+'" alt="'+ci_str+'" >';
                    product_info2 += '<input type="hidden" name="product_id_'+ci_str+'" id="product_id_'+ci_str+'" value="">';
                    product_info2 += '</td>';
                    product_info2 += '<td>'+'<input name="product_name_'+ci_str+'" id="product_name_'+ci_str+'" alt="'+ci_str+'" ></td>';
                    product_info2 += '<td>'+'<input name="num_'+ci_str+'"      id="num_'+ci_str+'"      alt="'+ci_str+'"  onBlur="calTotal('+"'"+ci_str+"'"+')"   ></td>';
                    product_info2 += '<td>'+'<input name="price_'+ci_str+'"    id="price_'+ci_str+'"    alt="'+ci_str+'"  onBlur="calTotal('+"'"+ci_str+"'"+')"   ></td>';
                    product_info2 += '<td>'+'<span  class="total_'+ ci_str+'"  id="total_'+ci_str+'"    alt="'+ci_str+'" ></span>'+'</td>';
                    product_info2 += '</tr>';

                $(product_info2).appendTo('#tbody');


                $('#product_code_'+ci_str.toString()).blur(function(){
                    var code_disb = $(this).attr('disabled');
                    if( code_disb == undefined ){
                          alert('沒有這個料號');
                    }
                })

                $('#product_name_'+ci_str.toString()).blur(function(){
                    var name_disb = $(this).attr('disabled');
                    if( name_disb == undefined ){
                          alert('沒有這個產品');
                    }
                })



                var str_all_code_val  = '';
                var str_all_name_val  = '';
                //get code
                $('input[name^="product_code_"]').each(function(){
                    str_all_code_val += $(this).val() +',';
                });
                //get code
                $('input[name^="product_name_"]').each(function(){
                    str_all_name_val += $(this).val() +',';
                });



                $( "#product_code_" +ci_str).autocomplete({
                    source: function( request, response ) {
                      // alert( request.term);
                      $.post('/product_list_code.json',
                            {
                              'code' : request.term ,
                              'type' : 'code',
                              'old_data' : str_all_code_val
                            },
                            function(data){

                              response( $.map( data, function( item ) {
                                     return {
                                        label: item.code ,
                                        value: item.code ,
                                        id:    item.id ,
                                        title: item.title ,
                                     }
                              }));
                      });
                    },
                    //最小的長度
                    minLength: 1,

                    select: function( event, ui ) {

                       var terms = new Array();
                      //  if(this.title!="")
                      //    terms = this.title.split("/ ");
                       terms.pop();
                       terms.push( ui.item.value );
                       terms.push("" );
                       this.value = terms.join( "" );
                       //  alert(ui.item.id);
                       var _alt = $(this).attr('alt');
                       //  alert(_alt);
                       $("#product_id_"   + _alt).val( ui.item.id);
                       $("#product_name_" + _alt).val(ui.item.title).attr('disabled',true);

                       $(this).attr('disabled',true);
                       calTotal(ci_str );
                       return false;
                    }
                  });


                  $( "#product_name_" + ci_str ).autocomplete({
                      source: function( request, response ) {

                        $.post('/product_list_code.json',
                              {
                                'title':request.term ,
                                'type':'title',
                                'old_data' : str_all_name_val
                              },
                              function(data){
                                //alert(request.term);
                                response( $.map( data, function( item ) {
                                       return {
                                          label: item.title ,
                                          id: item.id ,
                                          value: item.title ,
                                          title: item.title ,
                                          code: item.code
                                       }
                                }));
                        });
                      },
                      //最小的長度
                      minLength: 1,

                      select: function( event, ui ) {

                         var terms = new Array();
                        //  if(this.title!="")
                        //    terms = this.title.split("/ ");
                         terms.pop();
                         terms.push( ui.item.value);
                         terms.push("" );
                         this.value = terms.join( "" );

                         var _alt = $(this).attr('alt');
                         $("#product_id_"   + _alt ).val(ui.item.id);
                         $("#product_code_" + _alt ).val(ui.item.code).attr('disabled',true);

                         $(this).attr('disabled',true);
                         calTotal(ci_str );
                         return false;
                      }
                    });

                ci      =   ci       +1;


              });
          });
      //this gg end
      // });



    }

    var errors_msg =$('#error_explanation').html();
    // alert(errors_msg);
    if(    undefined!=errors_msg && errors_msg.length > 3){
      $('#ckbox-modal').modal('show');
    }

});







function calTotal(alt_atr ){

  var alt           =   alt_atr.toString();
  var num_val       =   $("#num_"+alt).val();
  var price_val     =   $("#price_"+alt).val();
  var _this_total   =   $("#total_"+alt).val();

  var num_flag    =   isInteger(num_val);
  var price_flag  =   isInteger(price_val);

  var show_total_price   =  0;

  var code_disabled = $("#product_code_" + alt_atr).attr('disabled');
  var name_disabled = $("#product_name_" + alt_atr).attr('disabled');

  //alert('name/'+name_disabled+'\n    code/'+code_disabled);

  if(num_flag && price_flag  &&  code_disabled == 'disabled' && name_disabled == 'disabled' ){

          //計算總金額
      if(  (parseInt(num_val) >= 0 ) &&  ( parseInt(price_val) >= 0 ) ){

          // alert(' ok can input~~!!!');
          $("#total_"+alt).html( num_val * price_val );

          $('span[class^="total_"]').each(function(){
                if( parseInt( $(this).text() ) > 0 ){
                      show_total_price =  parseInt( $(this).text() ) + parseInt( show_total_price );
                }
          });
          //
          $("#all_total").val(show_total_price);
          $("#show_all_total").html(show_total_price);

      }else{

          if(parseInt(num_val)<=-1){
              $("#num_"+alt).val('');
              $("#price_"+alt).val('');
              alert('必需為正整數!');
          }

          if(parseInt(price_val)<=-1){
              $("#num_"+alt).val('');
              $("#price_"+alt).val('');
              alert('必需為正整數!');
          }
      }

  }else{

      // alert('請輸入正確的產品料號或產品名稱!!');
  }

}

function isInteger(s){
    var is_num = parseInt(s);
    return Math.ceil(is_num) == Math.floor(is_num);
}



function checkAllInput(){

    var count_check_code    =   Array();
    var count_check_name    =   Array();
    var count_check_num     =   Array();
    var count_check_price   =   Array();
    var one_count   = 0;
    var _flag       = true;
    var alert_msg   = '';
    var alert_msg_code   = '';
    var alert_msg_name   = '';
    var alert_msg_num    = '';
    var alert_msg_price  = '';

    //查看產品料號是否為正確的值
    $('input[name^="product_code_"]').each(function(){

          one_count+=1;
          if(isInteger($(this).val())){

              var disb = $(this).attr('disabled');
              if( disb == undefined ){

                  count_check_code[one_count] = $(this).val();
                  _flag     = false;
                  alert_msg_code='產品料號錯誤\n';
                  // alert('qq');
              }

          }

    });

    one_count=0;
    //查看產品料號是否為正確的值
    $('input[name^="product_name_"]').each(function(){

          one_count+=1;
          if( $(this).val() ){


              var disb = $(this).attr('disabled');
              if( disb == undefined ){

                  count_check_name[one_count] = $(this).val();
                  _flag = false;
                  alert_msg_name='產品名稱錯誤\n';
                  // alert('qq');
              }
          }
    });
    one_count=0;
    //查看數量是否為正確的值
    $('input[name^="num_"]').each(function(){

          one_count+=1;
          if(isInteger($(this).val())){
              count_check_num[one_count] = $(this).val();
              if( isInteger($(this).val()) == false ){
                  _flag=false;
                  alert_msg_num ='訂購數量錯誤\n';
                  //alert('qq');
              }
          }

    });
    one_count=0;
    //查看單價是否為正確的值
    $('input[name^="price_"]').each(function(){
          one_count+=1;
          if(isInteger($(this).val())){
              count_check_price[one_count] = $(this).val();
              if( isInteger($(this).val()) == false ){

                  _flag=false;
                  alert_msg_price = '單價錯誤\n';
                  // alert('qq');
              }
          }
    });

    // if(_flag==false){
    //     alert(alert_msg);
    // }
    true_flag = 0;





    var one_come_true = false;


    for(  var i = 1 ; i <=one_count ; i++){

          var af = false;
          var bf = false;
          var cf = false;
          var df = false;

          if( count_check_code[i] != '' ){
              af=true;
          }

          if( count_check_name[i] != '' ){
              bf=true;
          }

          if( isInteger(count_check_num[i] ) ){
              cf=true;
          }

          if( isInteger(count_check_price[i] ) ){
              df=true;
          }

          if(af==true && bf==true && cf==true && df==true ){
              one_come_true=true;
          }


    }

    if(one_come_true){
        _flag=true;
    }

    // console.log( count_check_code  );
    // console.log( count_check_name  );
    // console.log( count_check_num   );
    // console.log( count_check_price );


    // alert(one_come_true + '// one_come_true~~');

    return _flag;
}
</script>
