<h1>Listing product_orders</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Order state</th>
      <th>Member</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_orders.each do |product_order| %>
      <tr>
        <td><%= product_order.code %></td>
        <td><%= product_order.order_state_id %></td>
        <td><%= product_order.member_id %></td>
        <td><%= product_order.state %></td>
        <td><%= link_to 'Show', product_order %></td>
        <td><%= link_to 'Edit', edit_product_order_path(product_order) %></td>
        <td><%= link_to 'Destroy', product_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product order', new_product_order_path %>
