<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @product_order.code %>
</p>

<p>
  <strong>Order state:</strong>
  <%= @product_order.order_state_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @product_order.member_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @product_order.state %>
</p>

<%= link_to 'Edit', edit_product_order_path(@product_order) %> |
<%= link_to 'Back', product_orders_path %>
