
<%= form_for(@msg) do |f| %>
  <% if @msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

      <ul>
      <% @msg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
      <font color="red" ><label>名稱</label></font>
      <%= f.text_field :title ,:class=>"form-control", :placeholder=>"請輸入"%>
  </div>



  <div class="form-group">
      <font color="red" ><label>內容</label></font>
      <%= f.text_area :content  ,:class=>'form-control' %>

  </div>

  <div class="form-group">
    <%= f.label :place ,'位置'%><br>
    <%= f.select(:place, @places.map {|p| [p]}) %>

  </div>

  <div class="form-group">
    <%= f.label :state , '狀態' %><br>
    <%= f.select(:state, @states.map {|s| [s]}) %>
  </div>

  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>

<% end %>


<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {

            CKEDITOR.replace(data[i].id);
        });
    }
});
</script>
