<%= form_for(@msg) do |f| %>
  <% if @msg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

      <ul>
      <% @msg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
      <label>名稱</label>
      <%= f.text_field :title ,:class=>"form-control", :placeholder=>"請輸入"%>
  </div>



  <div class="form-group">
      <label>內容</label>
      <%= f.text_area :content  ,:class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :place ,'位置'%><br>
    <%= f.select(:place, @places.map {|p| [p]}) %>

  </div>

  <div class="form-group">
    <%= f.label :state , '裝態' %><br>
    <%= f.select(:state, @states.map {|s| [s]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
