
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">訊息列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">


  <thead>
    <tr>
      <th>標題</th>
      <th>內容</th>
      <th>裝態/位置</th>
      <th>
        <% if judgment_access 'msgs/new' %>
            <%= link_to '新增訊息', new_msg_path %>
        <% end %>
      </th>

    </tr>
  </thead>

  <tbody>
    <% @msgs.each do |msg| %>
      <tr>
        <td>
          <%= state_n_show msg,msg.title  %>
        </td>

        <td>
          <%= state_n_show msg,msg.content.to_s[0..60] %>

        </td>
        <td>
            <%= (msg.state=='Y')?'顯示':'不顯示' %>
            <%= (msg.place=='top')?'上':'中' %>
        </td>

        <td>
        <% if (msg.state=='Y') %>

            <% if judgment_access 'msgs/edit' %>
                <%= link_to '編輯', edit_msg_path(msg) %>
            <% end %>

            <% if judgment_access 'msgs/del' %>
                <a url="#" class="del" id='/msgs/destroy/<%=msg.id %>'> 停用 </a>
            <% end %>

        <% else %>
            己停用
        <% end %>


        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @msgs  %>
</div>

    <script src="/admin/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      $('document').ready(function(){

          $('.del').click(function(){

              var url = $(this).attr('id');
              var n =confirm('確定停用！？');
              if(n){
                document.location.href=url;
              }

          });

      })
    </script>

</div>
</div>
</div>
</section><!-- /.content -->
