<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.text_field :role_id  %>
  </div>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name  %>
  </div>

  <div class="field">
    <%= f.label :boss %><br>
    <%= f.text_field :boss  %>
  </div>

  <div class="field">
    <%= f.label :serial_code %><br>
    <%= f.text_field :serial_code  %>
  </div>

  <div class="field">
    <%= f.label :tel %><br>
    <%= f.text_field :tel  %>
  </div>



  <div class="field">
    <%= f.label :company_address %><br>
    <%= f.text_field :company_address  %>
  </div>

  <div class="field">
    <%= f.label :send_address %><br>
    <%= f.text_field :send_address  %>
  </div>

  <div class="field">
    <%= f.label :check_date %><br>
    <%= f.text_field :check_date  %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password  %>
  </div>

  <div class="field">
    <%= f.label :re_password %><br>
    <%= f.text_field :re_password  %>
  </div>



  <div class="field">
    <%= f.label :forget_pas %><br>
    <%= f.text_field :forget_pas  %>
  </div>

  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text  %>
  </div>


  <div class="field">
    <%= f.label :trade_id %><br>
    <%= f.text_field :trade_id  %>
  </div>

  <div class="field">
    <%= f.label :store_area_id %><br>
    <%= f.text_field :store_area_id  %>
  </div>



 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
