

<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation"  style="display:none;">
        <% @user.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
        <% end %>
      </div>
   <% end %>

<%= render 'comm/ckbox' , :mss => @mss%>

<!--
<link rel="stylesheet" href="/datepicker/documents/css/reset.css"/>
<link rel="stylesheet" href="/datepicker/css/BeatPicker.min.css"/>
<link rel="stylesheet" href="/datepicker/documents/css/demos.css"/>
<link rel="stylesheet" href="/datepicker/documents/css/prism.css"/>
<script src="/datepicker/js/jquery-1.11.0.min.js"></script>
<script src="/datepicker/js/BeatPicker.min.js"></script>
<script src="/datepicker/documents/js/prism.js"></script>
-->


<section class="content">
      <div class="row">
          <!-- left column -->
          <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                  <div class="box-header">
                      <h3 class="box-title"><%=@table_title %></h3>
                  </div><!-- /.box-header -->



                    <div class="box-body">

                        <div class="form-group <% if !@user.errors[:username].blank? %> has-error <% end %> ">

                          <font color="red" ><%= f.label :username ,'帳號',:for =>'exampleInputEmail1' %></font>

                          <% if @user.id %>
                              <%= f.text_field :username, :class=>'form-control', :id=>"email", :disabled=>""  %>
                          <% else %>
                              <%= f.text_field :username, :class=>'form-control', :id=>"username" %>
                          <% end %>

                        </div>


                        <div class="form-group <% if !@user.errors[:email].blank? %> has-error <% end %> ">

                          <font color="red" ><%= f.label :email ,'電子信箱',:for =>'exampleInputEmail1' %></font>

                          <% if @user.id %>
                              <%= f.text_field :email, :class=>'form-control', :id=>"email", :disabled=>""  %>
                          <% else %>
                              <%= f.text_field :email, :class=>'form-control', :id=>"email", :placeholder=>"輸入email" %>
                          <% end %>

                        </div>

                        <div class="form-group <% if !@user.errors[:role_id].blank? %> has-error <% end %> ">
                          <font color="red" ><%= f.label :role_id ,'角色',:for =>'exampleInputEmail1' %></font><br>
                          <%= f.select(:role_id, @roles.map {|m| [m.title , m.id] } , {:include_blank =>'-------' ,  :selected =>( !@user.role_id.nil? ) ? @user.role_id : 2      }) %>
                        </div>

                        <div class="form-group <% if !@user.errors[:role_id].blank? %> has-error <% end %> ">

                          <font color="red" ><%= f.label :vip_access , 'VIP 權限',:for =>'exampleInputEmail1' %></font><br>
                          <%= f.select(:vip_access,  @access_sel[0].collect {|m| [m[1] , m[0] ] } , {:include_blank =>'-------' ,  :selected => (!@user.vip_access.nil?) ? @user.vip_access : 'normal' } , :id => 'vip_access' )%>

                          <br>


                            <div class="vip_access_select"  <% if @user.vip_access != 'VIP'%> style="display:none;" <% end %> >

                                <% @normal_users.each do |nr_user| %>

                                  <input type="checkbox" name="normal_users[<%= nr_user.username %>]" value="<%= nr_user.id %>"

                                  <% @user_bs.each do |ub| %>
                                      <% if ub.user_id.to_i == nr_user.id.to_i %>
                                          <%='checked'%>
                                      <% end %>
                                  <% end %>
                                     >
                                  <%= nr_user.username %><br>
                                <% end %>
                            </div>

                        </div>

                        <div class="form-group <% if !@user.errors[:name].blank? %> has-error <% end %> ">
                          <font color="red" ><%= f.label :name ,'姓名',:for =>'exampleInputEmail1' %></font><br>

                          <%= f.text_field :name, :class=>'form-control', :id=>"name", :placeholder=>"輪入姓名" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :boss ,'負責人',:for =>'exampleInputEmail1' %><br>
                          <%= f.text_field :boss, :class=>'form-control', :id=>"boss", :placeholder=>"負責人" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :serial_code ,'公司統編' ,:for =>'exampleInputEmail1' %><br>
                          <%= f.text_field :serial_code, :class=>'form-control', :id=>"serial_code", :placeholder=>"公司統編" %>
                        </div>

                        <div class="form-group">
                          <%= f.label :tel ,'電話'  ,:for =>'exampleInputEmail1' %><br>
                          <%= f.text_field :tel, :class=>'form-control', :id=>"rel", :placeholder=>"電話" %>
                        </div>

                        <div class="form-group">
                          <%= f.label  :company_address,'公司住址' ,:for =>'exampleInputEmail1' %><br>
                          <%= f.text_field :company_address, :class=>'form-control', :id=>"company_address", :placeholder=>"公司住址" %>
                        </div>

                        <div class="form-group">
                            <%= f.label  :send_address , '送貨住址' ,:for =>'exampleInputEmail1' %><br>
                            <%= f.text_field :send_address , :class=>'form-control', :id=>"send_address", :placeholder=>"送貨住址" %>
                        </div>

                        <div class="form-group">

                            <%= f.label  :check_date , '簽約日期'  ,:for =>'exampleInputEmail1' %>
                            <br>
                            <%= f.text_field :check_date, :class=>'form-control', :id=>"check_date", :placeholder=>"簽約日期" , :value => ( Time.now.strftime("%Y-%m-%d") ) %>

                        </div>

                        <div class="form-group  <% if !@user.errors[:prompt].blank? %> has-error <% end %> ">
                            <font color="red" > <%= f.label  :prompt,'忘記密碼提示' , :for =>'exampleInputEmail1' %> </font>
                            <%= f.text_field :prompt, :class=>'form-control', :id=>"prompt", :placeholder=>"忘記密碼提示" %>
                        </div>

                        <% if check_user_is_new @user %>
                          <div class="form-group  <% if !flash[:pas].blank? %> has-error <% end %> ">
                            <font color="red" >
                              <%= f.label :password ,'密碼' ,:for =>'exampleInputEmail1' %>
                              <% if !flash[:pas].blank? %>
                                  <%=flash[:pas] %>
                              <% end %>
                            </font>
                            <%= f.password_field :password , :class=>'form-control', :id=>"password", :placeholder=>"密碼" %>
                          </div>

                          <div class="form-group  <% if !flash[:pas].blank? %> has-error <% end %> ">
                            <font color="red" >
                              <%= f.label :re_password,'認確密碼'  ,:for =>'exampleInputEmail1' %>
                              <% if !flash[:pas].blank? %>
                                  <%=flash[:pas] %>
                              <% end %>
                            </font>
                            <%= f.password_field :re_password, :class=>'form-control', :id=>"re_password", :placeholder=>"認確密碼" %>
                          </div>
                        <% end %>

                        <div class="form-group">
                          <%= f.label  :text,'備註' ,:for =>'exampleInputEmail1' %><br>
                          <%= f.text_area :text , :class=>'form-control', :id=>"text", :placeholder=>"備註" %>
                        </div>

                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">確定</button>
                        <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
                    </div>


<% end %>
</div>
</div>
</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">




  $('document').ready(function(){

    $("#check_date").datepicker({ format: 'yyyy-mm-dd'});

    $('#vip_access').change(function(){

        if( $(this).val()=="VIP" ){
            $(".vip_access_select").show();
        }else{
            $(".vip_access_select").hide();
        }

    });

    var errors_msg =$('#error_explanation').html();
    // undefined !== theHref && theHref.length
    if( undefined !== errors_msg && errors_msg.length ){
    // if( errors_msg.length > 3 ){
      // alert( errors_msg );
      $('#ckbox-modal').modal('show');
    }


  })
</script>

</div>

</section>
