<form accept-charset="UTF-8" action="/users/update_password" method="post">

  <% if @user.errors.any? %>
      <div id="error_explanation"  style="display:none;">
        <% @user.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
        <% end %>
      </div>
   <% end %>

<%= render 'comm/ckbox' , :mss => @mss%>



<section class="content">
      <div class="row">
          <!--left column-->
          <div class="col-lg-12">
              <!-- general form elements -->
              <div class="box box-primary">
                  <div class="box-header">
                      <h3 class="box-title"><%=@table_title %></h3>
                  </div><!-- /.box-header -->



                    <div class="box-body">
                      
                        <div class="form-group <% if !@user.errors[:username].blank? %> has-error <% end %> ">
                              <font color="red" >
                                  <%= label :username ,'帳號',:for =>'exampleInputEmail1' %>
                              </font>
                              <input name="email" type="text"   class='form-control' id="email"     disabled="" value="<%=@user.username %>" >
                              <input name="id"    type="hidden" class='form-control'  value="<%=@user.id %>" >
                        </div>



                        <div class="form-group  <% if !@user.errors[:prompt].blank? %> has-error <% end %> ">
                            <font color="red" > <%=  label  :prompt,'忘記密碼提示' , :for =>'exampleInputEmail1' %> </font>
                            <input name="prompt" type="text"  class='form-control' id="prompt"      value="<%=@user.prompt %>" >

                        </div>


                          <div class="form-group  <% if !flash[:pas].blank? %> has-error <% end %> ">

                            <font color="red" >
                              <%=  label :password ,'密碼' ,:for =>'exampleInputEmail1' %>
                              <% if !flash[:pas].blank? %>
                                  <%=flash[:pas] %>
                              <% end %>
                            </font>

                            <input name="password" type="password"  class='form-control'    value="" >
                          </div>

                          <div class="form-group  <% if !flash[:pas].blank? %> has-error <% end %> ">
                            <font color="red" >
                              <%= label :re_password,'認確密碼'  ,:for =>'exampleInputEmail1' %>
                              <% if !flash[:pas].blank? %>
                                  <%=flash[:pas] %>
                              <% end %>
                            </font>
                            <input name="re_password" type="password" class='form-control'    value="" >

                          </div>




                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">確定</button>
                        <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
                    </div>


</form>
</div>
</div>
</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">




  $('document').ready(function(){



    var errors_msg =$('#error_explanation').html();
    // undefined !== theHref && theHref.length
    if( undefined !== errors_msg && errors_msg.length ){
    // if( errors_msg.length>3){
      //  alert( errors_msg );
      $('#ckbox-modal').modal('show');
    }


  })
</script>

</div>

</section>
