
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">使用者列表</h3>

            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>E-mail</th>
                      <th>姓名</th>
                      <th>負責人</th>
                      <th>公司</th>

                      <th>
                        <%= link_to '新增使用者', new_user_path %>
                        /
                        <%= link_to '輸出EXCEL', :controller=>'users' , :action=>"excel" %>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <td><%= user.boss %></td>
                        <td>
                            <%= user.store_area_id %>
                            |
                            <%= user.products.count %>
                        </td>

                        <td>

                            <%= link_to '編輯', edit_user_path(user) %>|

                            <a url="#" class="del" id='/users/destroy/<%=user.id %>'> 停用 </a>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <%= paginate @users  %>
              </div>

              <script src="/admin/js/jquery-2.1.4.min.js"></script>
              <script type="text/javascript">
                $('document').ready(function(){

                    $('.del').click(function(){

                        var url = $(this).attr('id');
                        var n =confirm('確定删除！？');
                        if(n){
                          document.location.href=url;
                        }

                    });

                })
              </script>

            </div>
          </div>
        </div>
</section><!-- /.content -->
