<%= render 'comm/top'%>


<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">使用者列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>姓名</th>
                      <th>交易代碼</th>
                      <th>庫位</th>

                      <th><%= link_to '新增使用者', new_user_path %></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= user.email %></td>
                        <td><%= user.name %></td>
                        <td><%= user.trade_id %></td>
                        <td><%= user.store_area_id %></td>

                        <td>
                            <%= link_to 'Show', user %>|
                            <%= link_to 'Edit', edit_user_path(user) %>|
                            <%= link_to 'Destroy', user, method: :destroy, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>


            </div>
          </div>
        </div>
</section><!-- /.content -->
