

<h1>login user</h1>


<%#= render 'form' %>

<div class="login">
  <%= form_tag(:action => 'do_login') do %>
  <table>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:address) %></td>
      <td><%= text_field_tag(:address) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Log In") %></td>
    </tr>
  </table>
  <% end %>
</div>
