
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped">

  <tr>
    <td>
      <strong>Email:</strong>
    </td>
    <td>
      <%= @user.email %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>password:</strong>
    </td>
    <td>
      <%= @user.password %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>name:</strong>
    </td>
    <td>
      <%= @user.name %>
    </td>
  </tr>



  </table>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
