<%= form_for(@store_area) do |f| %>
  <% if @store_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@store_area.errors.count, "error") %> prohibited this store_area from being saved:</h2>

      <ul>
      <% @store_area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area_id %><br>
    <%= f.text_field :area_id %>
  </div>
  <div class="field">
    <%= f.label :area_name %><br>
    <%= f.text_field :area_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
