  <%= form_for(@store_area) do |f| %>

    <% if @store_area.errors.any? %>

        <div id="error_explanation"  style="display:none;">
          <% @store_area.errors.full_messages.each do |msg| %>
            <% @mss = "#{@mss}"+"<font style='color:red' >#{msg}<br>\n" %>
          <% end %>
        </div>
     <% end %>

  <%= render 'comm/ckbox' , :mss => @mss%>









<!-- Main content -->
        <aside>
                <section class="content">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title"><%=@table_title %></h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="box-body">

                                        <div class="form-group">
                                          <%= label_tag :username ,'紅色',:for =>'exampleInputEmail1' %><font color="red" >*</font>號必填
                                        </div>

                                        <div class="form-group <% if !@store_area.errors[:area_id].blank? %> has-error <% end %> ">
                                            <%= f.label :area_id , '區域代碼' %>
                                            <%= f.text_field :area_id , :id=>"exampleInputFile",:class=>"form-control" %>

                                        </div>

                                        <div class="form-group <% if !@store_area.errors[:area_name].blank? %> has-error <% end %> " >
                                            <%= f.label :area_name , '說明' %>
                                            <%= f.text_field :area_name , :id=>"exampleInputFile",:class=>"form-control" %>
                                        </div>

                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">確定</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->
                        </div>
                    </div>
                    </section><!-- /.content -->
            </aside><!-- /.right-side -->
<% end %>
<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){
    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      // alert( errors_msg );
      $('#ckbox-modal').modal('show');
    }


  })
</script>
