
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
              <h3 class="box-title"><%=@table_title%></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>區域代碼</th>
                      <th>說明</th>
                      <th>
                        <% if judgment_access 'store_areas/new' %>
                            <%= link_to '新增庫位', new_store_area_path %>
                        <% end %>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @store_areas.each do |store_area| %>
                      <tr>
                        <td><%= store_area.area_id %></td>
                        <td><%= store_area.area_name %></td>
                        <td>
                            <% if judgment_access 'store_areas/edit' %>
                                <%= link_to '編輯', edit_store_area_path(store_area) %>
                            <% end %>

                            <% if judgment_access 'store_areas/del' %>
                                <a url="#" class="del" id='/store_areas/destroy/<%=store_area.id %>'> 停用 </a>
                            <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>
              <%=paginate @store_areas %>

            </div>
            <script src="/admin/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript">
              $('document').ready(function(){

                  $('.del').click(function(){

                      var url = $(this).attr('id');
                      var n =confirm('確定停用！？');
                      if(n){
                        document.location.href=url;
                      }

                  });

              })
            </script>
          </div>
        </div>
</section><!-- /.content -->
