<%= form_for(@access) do |f| %>
  <% if @access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access.errors.count, "error") %> prohibited this access from being saved:</h2>

      <ul>
      <% @access.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title , '名稱' %><br>
    <%= f.text_field :title ,:id=>"exampleInputFile",:class=>"form-control"  %>
  </div>

  <div class="field">
    <%= f.label :code , '代碼' %><br>
    <%= f.text_field :code ,:id=>"exampleInputFile",:class=>"form-control"  %>
  </div>

  <div class="field">
    <%= f.submit  %><br>
  </div>



<% end %>
