<%= form_for(@access) do |f| %>

    <% if @access.errors.any? %>

        <div id="error_explanation"  style="display:none;">
          <% @access.errors.full_messages.each do |msg| %>
            <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
          <% end %>
        </div>
     <% end %>

  <%= render 'comm/ckbox' , :mss => @mss%>


  <div class="form-group <% if !@access.errors[:title].blank? %> has-error <% end %>">
    <font color="red" ><%= f.label :title , '名稱' %></font>
    <%= f.text_field :title ,:id=>"exampleInputFile",:class=>"form-control"  %>
  </div>

  <div class="form-group <% if !@access.errors[:code].blank? %> has-error <% end %>">
    <font color="red" ><%= f.label :code , '代碼' %></font>
    <%= f.text_field :code ,:id=>"exampleInputFile",:class=>"form-control"  %>
  </div>

  <div class="box-footer">

      <button type="submit" class="btn btn-primary">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>



<% end %>


<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){
    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      // alert( errors_msg );
      $('#ckbox-modal').modal('show');
    }


  })
</script>
