<%= render 'comm/top' %>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">使用者列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">


  <thead>
    <tr>
      <th>名稱</th>
      <th>代碼</th>
      <th><%= link_to '新增權限', new_access_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @accesses.each do |access| %>
      <tr>
        <td><%= access.title %></td>
        <td><%= access.code %></td>
        <td>
            <% link_to 'Show', access %>
            <%= link_to '編輯', edit_access_path(access) %>
            <%= link_to '删除', access, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @accesses  %>
</div>


</div>
</div>
</div>
</section><!-- /.content -->
