<%= form_for(@product_verify_type) do |f| %>
  <% if @product_verify_type.errors.any? %>
    <div id="error_explanation">
      <% @product_verify_type.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name ,'名稱'%><br>
    <%= f.text_field :name, :class=>'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :content ,'內容'%><br>
    <%= f.text_area :content,:class=>'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :verify_type_main_id ,'主檔分類'%><br>
    <%= f.select(:verify_type_main_id, @verify_type_mains.map {|m| [m.title , m.id] }) %>



  </div>

  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
  </div>
<% end %>
