
<section class="content">
 <div class="row">
   <div class="col-xs-12">
       <div class="box">
           <div class="box-header">
               <h3 class="box-title">三證類型列表</h3>
           </div><!-- /.box-header -->
           <div class="box-body table-responsive">


             <table id="example2" class="table table-bordered table-striped">




  <thead>
    <tr>
      <th>名稱</th>
      <th>說明</th>
      <th><%= link_to '新增三證類型', new_product_verify_type_path %></th>
    </tr>
  </thead>

  <tbody>
    <% @product_verify_types.each do |product_verify_type| %>
      <tr>
        <td><%= product_verify_type.name %></td>
        <td><%= product_verify_type.verify_type_main.title %></td>
        <td>
          <%= link_to 'Edit', edit_product_verify_type_path(product_verify_type) %>
          <%= link_to 'Destroy', product_verify_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
