<%= form_for(@contactu) do |f| %>
  <% if @contactu.errors.any? %>
    <div id="error_explanation">
      <% @contactu.errors.full_messages.each do |msg| %>
        <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
      <% end %>

    </div>
  <% end %>


<%= render 'comm/ckbox' , :mss => @mss%>


  <div class="field">
    <font color="red"><%= f.label :title , '標題' %></font>
    <%= f.text_field :title, :class=>'form-control'  %>
  </div>


  <div class="field">
    <font color="red"><%= f.label :email , 'E-Mail' %></font>
    <%= f.text_field :email, :class=>'form-control'  %>
  </div>



  <div class="field">
    <font color="red"><%= f.label :content , '內容'%></font>
    <%= f.text_area :content %>
  </div>


  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>

<% end %>





<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
            CKEDITOR.editorConfig = function(config) {
  config.language = 'pl';
  config.filebrowserBrowseUrl = "/ckeditor/attachment_files";
  config.filebrowserFlashBrowseUrl = "/ckeditor/attachment_files";
  config.filebrowserFlashUploadUrl = "/ckeditor/attachment_files";
  config.filebrowserImageBrowseLinkUrl = "/ckeditor/pictures";
  config.filebrowserImageBrowseUrl = "/ckeditor/pictures";
  config.filebrowserImageUploadUrl = "/ckeditor/pictures";
  config.filebrowserUploadUrl = "/ckeditor/attachment_files";
  config.toolbar_Pure = [
    '/', {
      name: 'basicstyles',
      items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat']
    }, {
      name: 'paragraph',
      items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']
    }, {
      name: 'links',
      items: ['Link', 'Unlink']
    }, '/', {
      name: 'styles',
      items: ['Styles', 'Format', 'Font', 'FontSize']
    }, {
      name: 'colors',
      items: ['TextColor', 'BGColor']
    }, {
      name: 'insert',
      items: ['Image', 'Table', 'HorizontalRule', 'PageBreak']
    }
  ];
  config.toolbar = 'Pure';
  return true;
};
        });
    }

    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      $('#ckbox-modal').modal('show');
    }

});
</script>
