
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                 
                <div class="btn-group" id='head_btn'>
                    <button type="button" class="btn btn-info"><%=(@flag=='Y')?('未停用'):('停用') %></button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <%= link_to '未停用', {:controller =>'contactus' , :action =>'index' , :state =>'Y'}  %>
                        </li>

                        <li>
                            <%= link_to '停用', {:controller =>'contactus' , :action =>'index' , :state =>'N'}  %>
                        </li>
                    </ul>
                </div>

                <% if judgment_access 'msgs/new' %>
                    <% link_to '新增訊息', new_msg_path, :class=>"btn btn-primary head_btn"  , :id=>'head_btn'  %>
                    <% link_to 'New Contactu', new_contactu_path %>
                <% end %>

            </div><!-- /.box-header -->
            <div class="box-body table-responsive">

<table id="example2" class="table table-bordered table-striped">
  <thead>

    <tr>

        <th><%= sortable "title" ,'標題' %></th>
        <th><%= sortable "content" ,'內容' %></th>

        <th></th>
    </tr>

  </thead>

  <tbody>
    <% @contactus.each do |contactu| %>
      <tr>
        <td><%= contactu.title %></td>
        <td><%= contactu.content %></td>
        <td>
            <%= link_to '查看', contactu , :class => 'btn btn-info btn-sm' %>
            <% link_to 'Edit', edit_contactu_path(contactu) %>
            <% link_to 'Destroy', contactu, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @contactus  %>
