<%= render 'comm/top' %>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">角色名稱列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">




  <thead>
    <tr>
      <th>角色名稱</th>

      <th>
        <%= link_to '新增角色', new_role_path %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.title %></td>
        <td>

            <%= link_to '編輯', edit_role_path(role) %>
            <%= link_to '删除', role, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>





</table>
<%= paginate @roles  %>
</div>


</div>
</div>
</div>
</section><!-- /.content -->
