<%= render 'comm/top' %>

<section class="content">
      <div class="row">
          <!-- left column -->
          <div class="col-lg-8">
<!-- general form elements -->
<div class="box box-primary">

        <div class="box-header">
            <h3 class="box-title"><%=@table_title %></h3>
            <% if session[:user_id].nil? %>
              <%= session[:user_id]%>
            <% end %>
        </div><!-- /.box-header -->


            <%= form_tag('/do_advance_pas' , method: 'post' ) do %>
                    <div class="box-body">
                        <div class="form-group">
                          <%= label_tag :username ,'帳號',:for =>'exampleInputEmail1' %><br>
                          <%= text_field_tag :username%>
                        </div>

                        <div class="form-group">
                          <%= label_tag :email ,'E-Mail' %><br>
                          <input type="password" name="email" value="">
                        </div>

                        <div class="form-group">
                          <% if @one  %>
                            <%=@one.id %>
                          <% end %>
                        </div>

                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
              <% end %>
          </div>
      </div>
  </div>
</section>
