<%= form_for(@product_in_out) do |f| %>

  <% if @product_in_out.errors.any? %>
    <div id="error_explanation" style="display:none;">
      <% @product_in_out.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
      <% end %>
    </div>
  <% end %>

  <%= render 'comm/ckbox' , :mss => @mss%>


  <div class="form-group">
    <%= f.label :product_id , '產品名稱' %><br>
    <%
      if @product_in_out
        @product_id = @product_in_out.product_id
      end
    %>

    <%= f.select(:product_id, @product_data.collect {|p| ["#{p.code}-#{p.title}", p.id]} , { :selected =>@product_in_out.product_id } , :class=>'form-control' ) %>
  </div>

  <div class="form-group">

    <%= f.label :code , '單號' %>
    <br>
    <%= string = get_random_date+@io_s %>

    <%= f.hidden_field :code , :value =>string , :class=>'form-control'  %>
  </div>

  <div class="form-group">
    <font color="red" ><%= f.label :num , '數量' %></font><br>
    <%= f.number_field :num , :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :in_or_out , '入庫/出貨分類' %><br>
    <% f.select(:in_or_out, @in_out_types[0]['value'][0].collect { |pp| [ pp[1] , pp[0] ] }, { :selected =>@i_or_o  }  ) %>

    <%=f.hidden_field :in_or_out , :value=>'' , :id=>'in_or_out' %>

    <%= f.select(:in_out_type_id, @in_out_cates.collect { |io| [ io.title , io.id ] }, { :include_blank =>'-------',  :selected =>@product_in_out.in_out_type_id  }   , :id=>'in_out_type_id') %>
  </div>


  <%= f.hidden_field :create_user_id  ,:value=>session[:user_id] %>
  <%= f.hidden_field :state  ,:value=>'Y' %>



  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>

<% end %>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

    $('#in_out_type_id').change(function(){

        $.post('/do_in_or_out' , { 'id':$(this).val()},
          function(data){
            $("#in_or_out").val(data);
            //alert(data);
        });

    });


    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      $('#ckbox-modal').modal('show');
    }



  })
</script>

</div>
</section>
