<%= form_for(@product_in_out) do |f| %>

  <% if @product_in_out.errors.any? %>
    <div id="error_explanation" >
      <% @product_in_out.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
      <% end %>
    </div>
  <% end %>

<%= render 'comm/ckbox' , :mss => @mss%>
<div class="col-xs-12">
      <h3>
        <%= f.label :code , '單號' %>

        <% if !@product_in_out.nil? %>
          <font style="color:#0C95B7"><%=@product_in_out.code %></font>
        <% end %>

<% if @i_or_o == 'out' %>
    <font style="color:#0C95B7"><%= string = "OUT-"+get_random_date+"-"+@io_s %></font>
<% elsif @i_or_o == 'in' %>
    <font style="color:#0C95B7"><%= string = "IN-"+get_random_date+"-"+@io_s %></font>
<% end %>
</h3>




</div>


<% if @product_in_out.code %>

    <%= f.hidden_field :code     ,  :value => @product_in_out.code %>

<% else %>


    <%= f.hidden_field :code , :value => string %>
<% end %>




<div class="col-xs-6">
  <h3>
    <font color="red" >
        <%= f.label :product_id , '產品名稱' %>
    </font>

  <%
    if @product_in_out
      @product_id = @product_in_out.product_id
    end
  %>

<%
  por_ar = []
  @product_data.each do |pr_data|
    por_ar[pr_data.id] = pr_data.title
  end

%>



  <% if  !@product_in_out.id.nil? %>

      <% if @in_out_type == 'reduce' %>
            <!--出庫-->
            <%= f.select(:product_id, @product_data.collect {|p| ["#{p.code}-#{p.title}", p.id]} , { :include_blank =>'-------' ,:selected =>@product_id } , :class=>'form-control', :id => 'product_id' ) %>
      <% elsif @in_out_type == 'add'%>
            <!--入庫-->


            <select id="serial" name="product_in_out[serial]" class='form-control' >
                <option value="<%= @product_id %>" > <%= por_ar[@product_id]%></option>
            </select>
      <% end%>
  <% else %>
      <%= f.select(:product_id, @product_data.collect {|p| ["#{p.code}-#{p.title}", p.id]} , { :include_blank =>'-------' ,:selected =>@product_in_out.product_id } , :class=>'form-control', :id => 'product_id' ) %>
  <% end %>


</h3>
</div>


<div class="col-xs-6">

  <h3>
    <font color="red" >
      <label for="">批號</label>
    </font >








        <% if  !@product_in_out.id.nil? %>

            <% if  @in_out_type == 'reduce' %>

                  <!-- 出庫 -->

                  <%= f.select(:serial , @p_in_out_list.collect{ |pay| [pay.serial , pay.serial  ] } , { :selected =>@product_in_out.serial  } , :id=>'serial' ,:class=>'form-control'  )%>

            <% elsif @in_out_type == 'add'%>
                  <!-- 入庫 -->
                  <!-- <%= f.select(:serial , @p_in_out_list.collect{ |pay| [pay.serial , pay.serial  ] } , { :selected =>@product_in_out.serial  } , :id=>'serial' ,:class=>'form-control'  )%> -->
                  <select id="serial" name="product_in_out[serial]" class='form-control' >
                        <option value="<%= @product_in_out.serial %>" ><%= @product_in_out.serial %></option>
                  </select>

            <% end%>


    <% else %>

            <% if  @whered == 'reduce' %>
            <select id="serial" name="product_in_out[serial]" class='form-control' >
            </select>
                  <!-- <%= f.select(:serial , @p_in_out_list.collect{ |pay| [pay.serial , pay.serial  ] } , { :selected =>@product_in_out.serial  } , :id=>'serial' ,:class=>'form-control'  )%> -->
            <% elsif @whered == 'add'%>
            <!--新增-->
            <%= f.text_field :serial ,:id => "serial" , :class => "form-control"  %>
            <% end %>


        <% end %>

  </h3>

</div>


  <div class="col-xs-6">
    <h3>

        <font color="red" ><label for="">入庫/出貨分類</label></font>

        <%=f.hidden_field :in_or_out , :value=>@whered , :id=>'in_or_out' %>
        <input type="hidden" name="type" value="<%=@whered %>">
        <%= f.select(:in_out_type_id, @in_out_cates.collect { |io| [ io.title , io.id ] }, {   :selected =>@product_in_out.in_out_type_id  }   , :id=>'in_out_type_id' ,:class=>'form-control' ) %>
    </h3>
  </div>


  <div class="col-xs-6">
        <h3>
            <font color="red" ><%= f.label :num , '庫位' %></font>
            <%= f.select(:store_area_id, @store_areas.collect {|p| [ p.area_name , p.area_id ] } , { :selected =>@product_in_out.store_area_id } , :class=>'form-control' ,:id=>'store_area_id' ) %>
        </h3>
  </div>

  <div class="col-xs-6">
        <h3>
            <font color="red" ><%= f.label :num , '等級' %></font>
            <%= f.select(:level , @levels[0].collect {|lp| ["#{lp[1]}", lp[0] ]} , {:include_blank =>'-------' , :selected =>@product_in_out.level } , :class=>'form-control' ,:id =>'level' ) %>
        </h3>
  </div>


  <div class="col-xs-6">
        <h3>
            <font color="red" ><%= f.label :num , '有效期限' %></font>
                <% #if  @i_or_o == 'reduce' %>
                  <%# f.text_field :save_date , :class=>'form-control' ,:id=>"save_date" , :disabled=>"disabled" %>
                <% #elsif  @i_or_o == 'add' %>
                  <%= f.text_field :save_date , :class=>'form-control' ,:id=>"save_date"  %>
                <%# end %>


        </h3>
  </div>

  <div class="col-xs-6">

          <h3>
            <font color="red" ><%= f.label :num , '數量' %></font>
            <span class="num"></span>

            <%= f.number_field :num , :class=>'form-control' , :id =>'num' %>
          </h3>

  </div>











  <%= f.hidden_field :create_user_id  ,:value=>session[:user_id] %>
  <%= f.hidden_field :state  ,:value=>'Y' %>


  <div class="col-xs-12">
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">確定</button>
            <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
        </div>
  </div>

<% end %>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

    $('#num').blur(function(){
        var _vl = $(this).val()  ;
        var _vl2 = checknum(_vl);

        if(!_vl2){

            alert('請輸入正整數');
            $('#num').val('');
        }
    });


    $("#save_date").datepicker( { format: 'yyyy-mm-dd'} );


    $('#product_id').change(function(){
        var _id = $(this).val();
        if(_id==''){

        }else{

            $.post('/get_p_in_out_serial' ,
                  { 'id' : $(this).val() },
                  function(data){
                    // alert( $(this).val() );
                      $('#serial').html('');
                      $('#serial').html(data);

                      $('#serial').change(function(){
                        //批號
                        var _serial = $(this).text();
                        var _alt = $(this).find(":selected").attr('alt');

                        $.post('/p_good_or_not' ,
                              { 'id' : _alt },
                              function(data){
                                $('#level').html(data);
                              });

                        $.post('/p_store_area' ,
                              { 'id' : _alt },
                              function(data){
                                  $('#store_area_id').html(data);
                              });

                        $.post('/inp_save_date' ,
                              { 'id' : _alt },
                              function(data){
                                $('#save_date').val(data);
                        });

                        // alert( $(this).val()   );
                        $.post('/inp_save_num' ,
                              { 'id' : _alt },
                              function(data){
                                $('.num').html(data);
                        });

                        // inp_save_date

                      });

                  });
        }
    });


    var errors_msg =$('#error_explanation').html();
    if( errors_msg.length > 3 ){
        // alert( errors_msg );
        $('#ckbox-modal').modal('show');
    }



    // $('#in_out_type_id').change(function(){
    //
    //     $.post('/do_in_or_out' , { 'id':$(this).val()},
    //       function(data){
    //         $("#in_or_out").val(data);
    //         alert(data);
    //     });
    //
    // });





  });


  function checknum(str){
    // return str.match(/^[0-9]*$/);
    var   r   =   /^[0-9]*[1-9][0-9]*$/　　//正整數
    return r.test(str);

  }

</script>

</div>
</section>
