
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">庫存列表</h3>



                    <div class="btn-group" id='head_btn'>
                        <button type="button" class="btn btn-info"><%=(@flag=='Y')?('未停用'):('停用') %></button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">

                            <li>
                                  <a href="/in_list?state=Y">未停用</a>

                            </li>
                            <li>
                                  <a href="/in_list?state=N">停用</a>

                            </li>

                        </ul>
                    </div>
                    <%= link_to '入庫', {:controller=>'product_in_outs', :action=>'new' ,:type=>'in'},:class=>'btn btn-success',:id=>'head_btn' %>



            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
  <thead>
    <tr>

      <th><%= sortable "code" ,'單號' %></th>
      <th style="width:200px;"><%= sortable "product_id" ,'產品' %></th>
      <th style="width:200px;"><%= sortable "serial" ,'批號' %></th>
      <th> <%= sortable "num" ,'數量' %></th>
      <th> <%= sortable "store_area_id" ,'庫位' %></th>
      <th> <%= sortable "level" ,'分類' %></th>
      <th> <%= sortable "save_date" ,'有限期限' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @product_in_outs.each do |product_in_out| %>
    <%= render 'comm/info' , :info => product_in_out , :users => @users_a , :title => "#{product_in_out.code} 訊息"  %>
      <tr>
        <td><%= product_in_out.code %></td>
        <td><%= product_in_out.product.title %></td>
        <td><%= product_in_out.serial.to_s[0..10] %></td>

        <td>
          <%= product_in_out.num %>


        </td>
        <td><%= product_in_out.store_area_id %></td>
        <td><%= product_in_out.in_out_type.title %></td>
        <td><%= product_in_out.save_date %></td>


        <td>

          <% if product_in_out.state == 'Y'  %>
              <a href="/product_in_outs/<%=product_in_out.id%>/edit?type=add"  class="btn btn-info btn-sm"> 編輯</a>

              <a url="#" class="del btn btn-danger btn-sm" id='/product_in_outs/in_come/destroy/<%=product_in_out.id %>'> 停用 </a>

          <% else %>



          <% end %>

          <a class="btn btn-warning info" id="<%=product_in_out.id %>">
              訊息
          </a>

        </td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= paginate @product_in_outs  %>
</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){

    $('.del').click(function(){

        var url = $(this).attr('id');
        var n =confirm('確定停用！？');
        if(n){
          document.location.href=url;
        }
    });


    $('.info').click(function(){
        var t_id = $(this).attr('id');
        $('#info-modal'+t_id).modal('show');
    });


})
</script>

</div>
</div>
</div>
</section><!-- /.content -->
