<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header">
            </div>

            <div class="box-body table-responsive">

              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>單號</th>
                      <th> 批號</th>
                      <th> 數量 </th>
                      <th> 庫位 </th>
                      <th> 有效期限 </th>

                    </tr>
                  </thead>



  <tbody>
    <% @pios.each do |pio| %>

    <%# render 'comm/info' , :info => pio , :users => @users_a , :title => "產品:#{pio.id} 訊息"  %>

      <tr>
        <td><%= (@in_or_out!="save") ? "#{pio.code}" : "#{pio[0]}" %></td>
        <td><%= (@in_or_out!="save") ? "#{pio.serial}" : "#{pio[1]}" %></td>
        <td><%= (@in_or_out!="save") ? "#{pio.serial}" : "#{pio[5]}" %></td>
        <td><%= (@in_or_out!="save") ? "#{pio.store_area_id}" : "#{pio[4]}" %></td>
        <td><%= (@in_or_out!="save") ? "#{pio.save_date}" : "#{pio[3]}" %></td>


      </tr>
    <% end %>
  </tbody>
</table>
<%#= paginate @pios  %>




</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

      // $('.del').click(function(){
      //
      //     var url = $(this).attr('id');
      //     var n =confirm('確定停用！？');
      //     if(n){
      //       document.location.href=url;
      //     }
      //
      // });
      //
      // $('.info').click(function(){
      //     var t_id = $(this).attr('id');
      //     $('#info-modal'+t_id).modal('show');
      // });

  })
</script>

</div>
</div>
</div>
</section><!-- /.content -->
