

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-xs-12">
        <div class="box">


            <h1><%=@show_y_m%></h1>

            <a href="/daily_18?month=<%=@date_month-1%>" class="btn btn-warning btn-xs">上個月</a>
            <a href="/daily_18?month=<%=@date_month+1%>" class="btn btn-warning btn-xs">下個月</a>
            <% if judgment_access 'dailies/new' %>
                <%= link_to '新增日報', new_daily_path, :class=>"btn btn-primary head_btn"  , :id=>'head_btn'  %>
            <% end %>

          <br>

<%
  empty_tds = (7-(7-@beginning＿on_week.to_i+1) )
  with_tds  = 0
  base_i    = @show_y_m.to_s.split('-')[1].to_i
  with_tds  = (7-@beginning＿on_week.to_i+1)

  if with_tds == 8
      with_tds  = (7-@beginning＿on_week.to_i)
  end

%>


<div class="box-body table-responsive" style="margin:20px 0px 0px 0px">
  <table id="example2" class="table table-bordered table-striped">

    <tr>
        <%
        week_days = ['一','二','三','四','五','六','日']
        (0..6).each do |wk|
        %>
            <td >

              <font style="color:blue;font-size:18px;">
                  <%=week_days[wk]%>
              </font>
            </td>
        <% end %>
    </tr>

    <tr>
      <% 7.times do |aa|%>
          <td>-</td>
      <% end %>
    </tr>


<tr>

<% empty_tds.to_i.times do |i| %>
    <td></td>
<% end
  first_flag = true
%>


<%
  (@day1.split('-')[2].to_i .. @day2.split('-')[2].to_i).each do |dd|
%>
    <% if first_flag %>

        <td>
          <%=dd%> <br>
          <br>
          <%= simple_format match_day @all_days , "#{@day1.split('-')[0].to_i}-0#{@day1.split('-')[1].to_i}-0#{dd}"%>
        </td>

        <% if with_tds.to_i == dd %>
          </tr>
        <%
          first_flag = false
          end
        %>

    <% else %>

          <% if (dd.to_i - with_tds.to_i )%7==1 %>
              <tr>
          <% end %>

          <% if (dd.to_i - with_tds.to_i ) %7==7 %>
              </tr>
          <% end %>

          <td>
            <%= dd %><br>
            <br>
            <%
            the_day , the_month = ''

            the_month =  @day1.split('-')[1].to_i

            if the_month.to_i < 10
              the_month   =  "0#{@day1.split('-')[1].to_i}"
            else
              the_month   =   @day1.split('-')[1].to_i
            end

            if dd.to_i < 10
              the_day   =  "0#{dd}"
            else
              the_day   =   dd
            end

            %>
            <%= simple_format match_day @all_days , "#{@day1.split('-')[0].to_i}-#{the_month}-#{the_day}"%>
          </td>

    <% end %>

<% end %>







<% @day_week%>






  </table>
</div>


</div>
</div>
</div>
</section><!-- /.content -->
<style media="screen">
  table tr td{
    width:14%;

  }
  .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th{
    width:14%;


  }
  .table table-bordered table-striped td{
    width:14%;
  }
</style>
