
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">





            </div><!-- /.box-header -->
            <div class="box-body table-responsive">

<p id="notice"><%= notice %></p>

<p>
  <strong>日期:</strong>
  <%= @daily.day %>
</p>

<p>
  <strong>早上/下午:</strong>
  <%= @daily.day_type %>
</p>

<p>
  <strong>人員:</strong>
  <%= @daily.title %>
</p>

<p>
  <strong>回報:</strong>
  <%= @daily.content %>
</p>


<% link_to 'Edit', edit_daily_path(@daily) %>
<%= link_to '上一頁', daily_18_path %>


</div>

     
</div>
</div>
</div>
</section><!-- /.content -->
