<%= form_for(@product) do |f| %>

  <% if @product.errors.any? %>
      <div id="error_explanation"  style="display:none;">
        <% @product.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
        <% end %>
      </div>
   <% end %>

<%= render 'comm/ckbox' , :mss => @mss%>


<style media="screen">
  .box-body .row{
    margin-top:10px;
  }

  .row #base1 div{
    margin-top:15px;
  }
</style>


  <section class="content">
        <div class="row">

            <!-- left column -->
            <div class="col-lg-12">

              <div class="box box-danger">

                <div class="box-header">
                    <h3 class="box-title">
                        產品
                    </h3>
                </div>

                <div class="box-body">

                    <div class="row">
                        <div class="col-xs-4">

                            <font color="red" ><%= f.label :code ,'產品編號'%></font>


                            <%= f.text_field :code, :class=>'form-control'  %>


                        </div>


                        <div class="col-xs-4">
                            <font color="red" ><%= f.label :title ,'產品名稱'%></font>
                            <%= f.text_field :title , :class=>'form-control' %>
                        </div>

                        <div class="col-xs-4">
                            <font color="red" ><label for="">規格</label></font>
                            <%= f.text_field :specification , :class=>'form-control' %>
                        </div>

                    </div>



                    <div class="row">

                        <div class="col-xs-4">

                          <div class="col-xs-3">
                            <label style="margin-top:15px;">
                              單位
                            </label>
                          </div>

                          <div class="col-xs-9">
                              <div class="col-xs-6">
                                存庫單位
                                <%= f.text_field :unit_save , :class=>'form-control' %>
                              </div>

                              <div class="col-xs-6">
                                輔助單位
                                <%= f.text_field :unit_support , :class=>'form-control' %>
                              </div>
                          </div>
                        </div>




                        <div class="col-xs-4" style="margin-top:20px;">

                          <div class="col-xs-4">
                              <label for="">換算比率</label>
                          </div>

                          <div class="col-xs-4">
                            <%= f.text_field :ratio1 , :class=>'form-control' %>
                          </div>

                          <div class="col-xs-4">
                            <%= f.text_field :ratio2 , :class=>'form-control' %>
                          </div>
                        </div>


                        <div class="col-xs-2">
                          <font color="red" ><%= f.label :num ,'主檔分類' %></font><br>
                            <%= f.select(:verify_type_main_id, @verify_type_mains.map {|m| [m.title , m.id] }) %>
                        </div>

                    </div>

                    <!--hr-->
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <!--hr-->

                    <div class="row" >

                            <div class="col-xs-4">
                                <label>單箱基數</label>
                                <%= f.text_field :one_base , :class=>'form-control' %>
                            </div>

                            <div class="col-xs-4" style="margin:0px;">
                                <label>單箱淨重</label>
                                <%= f.text_field :one_heavy1 , :class=>'form-control' %>
                            </div>


                            <div class="col-xs-4" style="margin:0px;">
                                <label>單箱淨重－單位</label>
                                <%= f.text_field :one_heavy1_unit , :class=>'form-control' %>
                            </div>



                            <div class="col-xs-6" style="margin:0px;">
                                <label>單箱毛重</label>
                                <%= f.text_field :one_heavy2 , :class=>'form-control' %>
                            </div>

                            <div class="col-xs-6" style="margin:0px;">
                                <label>單箱毛重－單位</label>
                                <%= f.text_field :one_heavy2_unit , :class=>'form-control' %>
                            </div>



                            <div class="col-xs-3" style="margin:0px;">
                                <label>材積－長</label>
                                <%= f.text_field :size1 , :class=>'form-control' %>
                            </div>
                            <div class="col-xs-3" style="margin:0px;">
                                <label>材積－寛</label>
                                <%= f.text_field :size2 , :class=>'form-control' %>
                            </div>
                            <div class="col-xs-3" style="margin:0px;">
                                <label>材積－高</label>
                                <%= f.text_field :size3 , :class=>'form-control' %>
                            </div>
                            <div class="col-xs-3" style="margin:0px;">
                                <label>材積－單位</label>
                                <%= f.text_field :size , :class=>'form-control' %>
                            </div>



                            <div class="col-xs-3" style="margin:0px;">
                                <label>尺寸－長</label>
                                <%= f.text_field :item_size1 , :class=>'form-control' %>
                            </div>
                            <div class="col-xs-3" style="margin:0px;">
                                <label>尺寸－寛</label>
                                <%= f.text_field :item_size2 , :class=>'form-control' %>
                            </div>

                            <div class="col-xs-3" style="margin:0px;">
                                <label>尺寸－高</label>
                                <%= f.text_field :item_size3 , :class=>'form-control' %>
                            </div>
                            <div class="col-xs-3" style="margin:0px;">
                                <label>尺寸－單位</label>
                                <%= f.text_field :item_size , :class=>'form-control' %>
                            </div>
                    </div>

                    <!--hr-->
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <!--hr-->

                    <div class="row">
                            <div class="col-xs-4">
                                <label for="">產品分類</label>
                                <%= f.text_field :category , :class=>'form-control' %>
                            </div>


                            <div class="col-xs-4">
                                <label for="">產品來源</label>
                                <%= f.text_field :form , :class=>'form-control' %>
                            </div>

                            <div class="col-xs-4">
                                <label for="">採購批量</label>
                                <%= f.text_field :buy_batch , :class=>'form-control' %>
                            </div>



                          <div class="col-xs-4">
                              <label for="">有效天數</label>
                              <%= f.text_field :affect_day , :class=>'form-control' %>
                          </div>



                          <div class="col-xs-4">
                              <label for="">前置時間</label>
                              <%= f.text_field :head_date , :class=>'form-control'  , :id => 'head_date' %>
                          </div>


                          <div class="col-xs-4">
                              <label for="">安全存量</label>
                              <%= f.text_field :safe_save , :class=>'form-control' ,:id => 'safe_save' %>
                          </div>

                          <div class="col-xs-4">
                              <label for="">標準庫位</label>
                              <%= f.select :standard_store_area, @store_areas.map {|sa| [sa.area_name , sa.area_id ] } ,{:include_blank =>'-------' ,  :selected =>@product.standard_store_area} ,:class=>'form-control' %>
                          </div>

                          <!---->
                          <div class="col-xs-4">
                              <label for="">進價單位</label>
                              <%= f.text_field :income_unit , :class=>'form-control' %>
                          </div>
                          <div class="col-xs-4">
                              <label for="">最近進價</label>
                              <%= f.text_field :income_number , :class=>'form-control' %>
                          </div>
                          <!---->




                    </div>

                    <!--hr-->
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <!--hr-->






    <div class="row">
        <div class="col-xs-12">
            <div class="form-group <% if !@product.errors[:content].blank? %> has-error <% end %> ">
              <%= f.label :content , '備註' %>
              <%= f.text_area :content, :class=>'form-control' %>
            </div>
        </div>
    </div>




  <%= f.hidden_field :user_id , :value=>session[:user_id] %>


  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
      <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
  </div>

<% end %>

</div>
</div>
</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

    // $( "#head_date" ).datepicker({ format: 'yyyy-mm-dd'});
    // $( "#head_date" ).datepicker();

    $('#safe_save').blur(function(){
        var _tv1 = $(this).val(  ) ;

        var _tv2 = isInteger(_tv1);
        if( _tv2 ){
        }else{
          alert('請輸入數字');
          $(this).val('');
        }

    });

    $('#product_code').blur(function(){

      var text = $(this).val();
      if(text.match(/\d/) && text.match(/[a-z]/i) && !text.match(/[^a-z0-9]/)){
        // alert('ok');
      }else{
        alert('只能輸入英文跟數字');
        $(this).val('');
      }

    });
    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      // alert( errors_msg );
      $('#ckbox-modal').modal('show');
    }


    /**
  * 驗證數字
  * (只能輸入數字)
  */
  function checknum(str){
    // return str.match(/^[0-9]*$/);
    var   r   =   /^[0-9]*[1-9][0-9]*$/　　//正整數
    return r.test(str);
  }

 /**
  * 驗證26個英文字母
  * (只能輸入英文字母)
  */
  function checkb(str){
    return str.match(/^[a-zA-Z]*$/);
  }




  })


  function isInteger(s){
    return Math.ceil(s) == Math.floor(s);
  }

</script>

</div>
</section>
