

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">產品列表</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>名稱</th>
                      <th>說明</th>
                      <th>數量</th>
                      <th>分類</th>
                      <th>屬於</th>
                      <th>
                        <% if judgment_access 'products/new' %>
                          <%= link_to '新增產品', new_product_path %>
                        <% end %>
                      </th>
                    </tr>
                  </thead>



  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.content %></td>
        <td><%= product.num %></td>
        <td>
          <% if product.verify_type_main %>
            <%= product.verify_type_main.title %>
          <% end %>
        </td>
        <td>
          <% if product.user %>
            <%= product.user.name %>
          <% end %>
        </td>
        
        <td>

            <% if judgment_access 'products/edit' %>
              <%= link_to '編輯', edit_product_path(product) %>
            <% end %>

            <% if judgment_access 'products/del' %>
              <a url="#" class="del" id='/products/destroy/<%=product.id %>'> 停用 </a>
            <% end %>


            <% if product.product_verifies.count > 0 %>
              <%= link_to '三證進度', :controller=>'product_verifies' , :action=>'index' ,:id=>product.id %>
            <% else %>
              <%= link_to '辨理三證', :controller=>'product_verifies' , :action=>'make' ,:id=>product.id %>
            <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products  %>




</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

      $('.del').click(function(){

          var url = $(this).attr('id');
          var n =confirm('確定停用！？');
          if(n){
            document.location.href=url;
          }

      });

  })
</script>

</div>
</div>
</div>
</section><!-- /.content -->
