<style media="screen">
  .main_col{
    margin:5px;
  }

  .col{
    font-size: 14px;
  }

  #col_code{
    width:170px;
    float:left;
  }

  #col_serial{
    width:190px;
    float:left;
  }

  #col_num{
    width:100px;
    float:left;
  }

  #col_store_area{
    width:150px;
    float:left;
  }

  #col_save_date{
    width:150px;
    float:left;
  }



</style>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">

            <% @mss ='qqq'%>



            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>產品編號</th>
                      <th>分類</th>
                      <th>名稱</th>
                      <th>規格</th>


                      <th>出入庫</th>
                      <th>屬於</th>


                    </tr>
                  </thead>



  <tbody>
    <% @products.each do |product| %>
    <%= render 'comm/in_list' ,  {:mss => @mss  ,  :product => product } %>
    <%= render 'comm/out_list' , {:mss => @mss  ,  :product => product } %>


      <tr>
        <td><%= product.code %></td>
        <td>
          <% if product.verify_type_main %>
            <%= product.verify_type_main.title %>
          <% end %>
        </td>

        <td><%= product.title %></td>
        <td><%= product.specification %></td>

        <td>
          <div style="width:100%;float:left;">
            <span  style="width:25%;float:left;">
                  <% if product.product_in_outs %>
                        <%in_out_cal(product.product_in_outs)%>
                  <% end %>

                  <a class="btn btn-success info-in btn-xs" id="<%=product.id %>">入庫</a>
                  <span class="text-success">
                    <%=@in_num%>
                  </span>

          </span>

          <span  style="width:25%;float:left;">
              <a class="btn btn-danger info-out btn-xs" id="<%=product.id %>">出庫</a>

              <span class="text-red">
                <%=@out_num%>
              </span>
          </span>

          <span  style="width:25%;float:left;">
              <a class="btn btn-primary btn-xs">現有</a>
              <span class="text-primary">
                <%=@in_num-@out_num%>
              </span>
          </span>

          </div>

        </td>

        <td>

          <% if product.user %>
            <%= product.user.name %>
          <% end %>
        </td>


      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products  %>




</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  $('document').ready(function(){

      $('.del').click(function(){

          var url = $(this).attr('id');
          var n =confirm('確定停用！？');
          if(n){
            document.location.href=url;
          }

      });
      //入庫
      $('.info-in').click(function(){
          var t_id = $(this).attr('id');
          // alert(t_id);
          $.get('/get_add_product_in_outs',
                {'product_id':t_id},
                function(data){

                   $( "#main_col-" + t_id ).html(data);

                       $(".pagination .next a").bind('click',function(){

                            var url             =   $(this).attr('href') ;
                            var url_split_str   =   url.split("?");
                            var _split_url      =   url_split_str[1].split("&");
                            var page_str        =   _split_url[0].split("=");
                            var product_id_str  =   _split_url[1].split("=");

                            $.get('/get_add_product_in_outs',
                                 {'product_id':product_id_str[1],'page':page_str[1]},
                                function(data2){
                                  $( "#main_col-" + t_id ).html(data2);
                                }
                            );

                            $(this).attr('href','#') ;
                            return false;
                       });
                });


          // alert($(".modal-body-"+t_id).html() );

          $('#info-in-modal-'+t_id).modal('show');
      });

      //出庫
      $('.info-out').click(function(){
          var t_id = $(this).attr('id');

          $('#info-out-modal'+t_id).modal('show');
      });

  })
</script>

</div>
</div>
</div>
</section><!-- /.content -->
