<%= form_for(@product_verify) do |f| %>
  <% if @product_verify.errors.any? %>

    <div id="error_explanation" style="display:none;">
      <% @product_verify.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
  <% end %>



    <%= f.hidden_field :product_id , :value=>@product_id%>

  <div class="field">
    <font color="red" ><%= f.label :state ,'狀態' %></font><br>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <font color="red" ><%= f.label :product_verify_type_id, '產品名稱' %></font><br>
    <%= f.text_field :product_verify_type_id %>
  </div>

  <div class="box-footer">
      <button type="submit" class="btn btn-primary">確定</button>
  </div>

<% end %>
