
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">產品－三證進度列表</h3>
            </div><!-- /.box-header -->

            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>產品名稱</th>
      <th>裝態</th>
      <th>申請類別</th>
      <th>

          <%  link_to '申請三證', new_product_verify_path %>

      </th>
    </tr>
  </thead>

  <tbody>

    <% @product_verifies.each do |product_verify| %>
      <tr>
        <td>
          <% if product_verify.product %>
          <%= product_verify.product.title %>
          <% end %>
        </td>
        <td><%= product_verify.state %></td>
        <td>
            <%= appli_helper_access(product_verify) %>

            <%= product_verify.product_verify_type.name %>
        </td>

        <td>
          <% if judgment_access 'product_verifies/edit' %>
            <%= link_to '編輯', edit_product_verify_path(product_verify) %>
          <% end %>

          <% if judgment_access 'product_verifies/del' %>
            <a url="#" class="del" id='/product_verifies/destroy/<%=product_verify.id %>'> 停用 </a>
          <% end %>
        </td>

      </tr>
    <% end %>

  </tbody>

</table>
<% if @product_verifies.count > 5 %>
  <%= paginate @product_verifies  %>
<% end %>

</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){
    $('.del').click(function(){

        var url = $(this).attr('id');
        var n =confirm('確定停用！？');
        if(n){
          document.location.href=url;
        }

    });

})
</script>

</div>
</div>
</div>
</section><!-- /.content -->
