
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">產品－三證進度列表</h3>




                <div class="btn-group" id='head_btn'>
                    <button type="button" class="btn btn-info"><%=(@flag=='Y')?('未停用'):('停用') %></button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">

                        <li>
                            <% if @iid %>
                              <%= link_to '未停用', {:controller =>'product_verifies' , :action =>'index' , :state =>'Y' , :id=>@iid}  %>
                            <% else %>
                              <%= link_to '未停用', {:controller =>'product_verifies' , :action =>'index' , :state =>'Y'}  %>
                            <% end %>
                        </li>
                        <li>
                            <% if @iid %>
                              <%= link_to '停用', {:controller =>'product_verifies' , :action =>'index' , :state =>'N' , :id=>@iid}  %>
                            <% else %>
                              <%= link_to '停用', {:controller =>'product_verifies' , :action =>'index' , :state =>'N'}  %>
                            <% end %>
                        </li>

                    </ul>
                </div>
            </div><!-- /.box-header -->

            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">

  <thead>
    <tr>
      <th>產品名稱</th>
      <th>狀態</th>
      <th style="width:10%;">申請主類別</th>
      <th>申請類別</th>
      <th>
          <%  link_to '申請三證', new_product_verify_path %>
      </th>
    </tr>
  </thead>

  <tbody>

    <% @product_verifies.each do |product_verify| %>



      <tr>
        <td>
          <% if product_verify.product %>
              <%= state_n_show(product_verify , product_verify.product.title)  %>
              <%= render 'comm/info' , :info => product_verify , :users => @users_a , :title => "申請三證-產品名稱:#{product_verify.product.title} 訊息"  %>
          <% end %>


        </td>
        <td><%=product_verify.product_verify_state.title%></td>

        <td>
          <% if product_verify.product_verify_type.verify_type_main_id == 1%>
              <button class="btn bg-olive margin">
                <%= @vtm_a[product_verify.product_verify_type.verify_type_main_id]%>
              </button>
          <% else %>
              <button class="btn bg-orange margin">
                <%= @vtm_a[product_verify.product_verify_type.verify_type_main_id]%>
              </button>
          <% end %>
        </td>

        <td>
            <% appli_helper_access(product_verify) %>



            <%= product_verify.product_verify_type.name %>
        </td>

        <td>
          <% if product_verify.state == 'Y' %>

              <% if judgment_access 'product_verifies/edit' %>
                <%= link_to '查詢', edit_product_verify_path(product_verify) , :class => 'btn btn-info btn-sm' %>
              <% end %>

              <% if judgment_access 'product_verifies/del' %>
                <a url="#" class="del btn btn-danger btn-sm"  id='/product_verifies/destroy/<%=product_verify.id %>'> 停用 </a>
              <% end %>

          <% else %>
              <button class="btn btn-danger disabled">己停用</button>
          <% end %>


          <a class="btn btn-warning info" id="<%=product_verify.id %>">
              訊息
          </a>


        </td>

      </tr>
    <% end %>

  </tbody>

</table>

  <%= paginate @product_verifies %>


</div>

<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$('document').ready(function(){
    $('.del').click(function(){

        var url = $(this).attr('id');
        var n =confirm('確定停用！？');
        if(n){
          document.location.href=url;
        }

    });

    $('.info').click(function(){
        var t_id = $(this).attr('id');
        $('#info-modal'+t_id).modal('show');
    });

})
</script>

</div>
</div>
</div>
</section><!-- /.content -->





<div class="" style="display:none;">


<div class="dataTables_paginate paging_bootstrap"><ul class="pagination"><li class="prev disabled"><a href="#">← Previous</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li><li class="next"><a href="#">Next → </a></li></ul></div>

</div>
