
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><%=@table_title%></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>交易代碼</th>
                      <th>說明</th>
                      <th>
                        <% if judgment_access 'trades/new' %>
                          <%= link_to '新增交易碼', new_trade_path %>
                        <% end %>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @trades.each do |trade| %>

                    <%= render 'comm/info' , :info => trade , :users => @users_a , :title => "交易碼:#{trade.id} 訊息"  %>

                      <tr>
                        <td>
                          <%= state_n_show trade,trade.id  %>
                        </td>

                        <td>
                          <%= state_n_show trade,trade.description  %>
                        </td>

                        <td>
                          <% if trade.state == 'Y'  %>

                              <% if judgment_access 'trades/edit' %>
                                  <%= link_to '編輯', edit_trade_path(trade.id) , :class => 'btn btn-info btn-sm' %>
                              <% end %>

                              <% if judgment_access 'trades/del' %>
                                  <a url="#" class="del btn btn-danger btn-sm" id='/trades/destroy/<%=trade.id %>'> 停用 </a>
                              <% end %>

                          <% else %>
                              <button class="btn btn-danger disabled">己停用</button>
                          <% end %>

                              <a class="btn btn-warning info" id="<%=trade.id %>">
                                  訊息
                              </a>

                        </td>

                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>

              <%= paginate @trades  %>
            </div>

            <script src="/admin/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript">
              $('document').ready(function(){

                  $('.del').click(function(){

                      var url = $(this).attr('id');
                      var n =confirm('確定停用！？');
                      if(n){
                        document.location.href=url;
                      }

                  });


                  $('.info').click(function(){
                      var t_id = $(this).attr('id');
                      $('#info-modal'+t_id).modal('show');
                  });


              })
            </script>

          </div>
        </div>
</section><!-- /.content -->
