
<%= render 'comm/top'%>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"><%=@table_title%></h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">


              <table id="example2" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>交易代碼</th>
                      <th>說明</th>
                      <th><%= link_to '新增交易碼', new_trade_path %></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @trades.each do |trade| %>
                      <tr>
                        <td><%= trade.id %></td>
                        <td><%= trade.description %></td>

                        <td>

                            <%= link_to '編輯', edit_trade_path(trade.id) %>|

                            <a url="#" class="del" id='/trades/destroy/<%=trade.id %>'> 删除 </a>
                        </td>

                      </tr>
                    <% end %>
                  </tbody>
                </table>

              </div>

              <%= paginate @trades  %>
            </div>

            <script src="/admin/js/jquery-2.1.4.min.js"></script>
            <script type="text/javascript">
              $('document').ready(function(){

                  $('.del').click(function(){

                      var url = $(this).attr('id');
                      var n =confirm('確定删除！？');
                      if(n){
                        document.location.href=url;
                      }

                  });

              })
            </script>

          </div>
        </div>
</section><!-- /.content -->
