<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation" style="display:none;">
      <% @member.errors.full_messages.each do |msg| %>
          <% @mss = "#{@mss}"+"#{msg}<br>\n" %>
      <% end %>
    </div>
  <% end %>
  <%= render 'comm/ckbox' , :mss => @mss%>

  <div class="form-group">
    <font color="red" ><%= f.label :name , '姓名'%></label>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <font color="red" ><%= f.label :tel , '電話'%></label>
    <%= f.text_field :tel %>
  </div>


  <div class="form-group">
    <font color="red" ><%= f.label :address, '住址' %></label>
    <%= f.text_field :address %>
  </div>



    <%= f.hidden_field :state , :value=>'Y' %>

    <div class="box-footer">
        <button type="submit" class="btn btn-primary">確定</button>
        <%= link_to "取消", :back ,:class =>'btn btn-danger' %>
    </div>
<% end %>
<script src="/admin/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    if ($('textarea').length > 0) {
        var data = $('textarea');
        $.each(data, function(i) {

            CKEDITOR.replace(data[i].id);
        });
    }

    var errors_msg =$('#error_explanation').html();

    if( errors_msg.length > 3 ){
      $('#ckbox-modal').modal('show');
    }
});
</script>
